.vs-radio-set {
    display: flex;
    align-items: center;

    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }

    .vs-radio-item:not(:last-child) {
        margin-right: var(--vs-radio-set-radioGap, 2rem);
    }
}
