@use '@/styles/mixin' as *;

$switchGap: 0.3rem;
$switchSize: var(--vs-switch-handleSize, 1.2rem);

.vs-switch {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 2.4rem;

    .vs-switch-button {
        position: relative;
        display: flex;
        align-items: center;
        width: var(--vs-switch-width, fit-content);
        height: var(--vs-switch-height, 2rem);
        padding: 0 0.8rem;
        border: var(--vs-switch-falseBorder, 1px solid var(--vs-line-color));
        border-radius: var(--vs-switch-borderRadius, 1rem);
        background-color: var(--vs-switch-falseBackgroundColor, var(--vs-area-bg));
        color: var(--vs-switch-falseFontColor, var(--vs-font-color));
        font-size: var(--vs-switch-fontSize, 0.8rem);
        cursor: pointer;

        &.vs-state-box {
            @include state-box;
        }

        .status-label {
            display: block;
            text-align: center;
            user-select: none;
            white-space: nowrap;
            width: 100%;
            word-break: break-all;
            margin-left: 2px;
            padding-left: $switchSize;
            padding-right: 0;
        }

        &::before {
            content: '';
            background-color: var(--vs-switch-falseHandleColor, var(--vs-primary-comp-bg));
            border-radius: 50%;
            box-shadow: 2px 2px 5px 0 var(--vs-comp-shadow);
            height: $switchSize;
            left: $switchGap;
            width: $switchSize;
            position: absolute;
            transition: 0.3s;
        }
    }

    .vs-switch-input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    &.checked {
        .vs-switch-button {
            background-color: var(--vs-switch-trueBackgroundColor, var(--vs-primary-comp-bg));
            border: var(--vs-switch-trueBorder, 1px solid var(--vs-primary-comp-bg));
            color: var(--vs-switch-trueFontColor, var(--vs-primary-comp-font));

            &::before {
                left: calc(100% - ($switchSize + $switchGap));
                background-color: var(--vs-switch-trueHandleColor, var(--vs-primary-comp-font));
                box-shadow: 2px 2px 5px 0 var(--vs-primary-comp-shadow);
            }

            .status-label {
                padding-left: 0;
                padding-right: $switchSize;
            }
        }
    }

    &:focus-within {
        .vs-switch-button {
            @include focus-outline;
        }
    }

    &.disabled {
        @include disabled;
    }

    &.readonly {
        @include readonly;
    }
}
