@use '@/styles/mixin' as *;

$width: var(--vs-switch-width, fit-content);
$height: var(--vs-switch-height, 2rem);
$switchGap: 0.3rem;
$switchSize: var(--vs-switch-handleSize, 1.2rem);

.vs-switch {
    appearance: none;
    align-items: center;
    background-color: var(--vs-switch-falseBackgroundColor, var(--vs-no-color));
    border-color: var(--vs-switch-falseBorderColor, var(--vs-comp-bg));
    border-radius: var(--vs-switch-borderRadius, 1rem);
    border-style: solid;
    border-width: var(--vs-switch-falseBorderWidth, 1px);
    color: var(--vs-switch-falseFontColor, var(--vs-font-color));
    cursor: pointer;
    display: flex;
    font-size: var(--vs-switch-fontSize, 1rem);
    height: $height;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    transition:
        all 0.4s,
        border 0s;
    width: $width;

    &:focus-visible {
        @include focus-shadow;
        outline: none;
    }

    .status-label {
        display: block;
        text-align: center;
        user-select: none;
        white-space: nowrap;
        width: 100%;
        word-break: break-all;
        margin-left: 2px;
        padding-left: calc($switchSize);
        padding-right: 0;
    }

    &::before {
        content: '';
        background-color: var(--vs-switch-falseHandleColor, var(--vs-comp-bg-primary));
        border-radius: 50%;
        box-shadow: 2px 2px 2px 0 rgba(#000, 0.4);
        height: $switchSize;
        left: $switchGap;
        width: $switchSize;
        position: absolute;
        transition: 0.4s;
    }

    &.checked {
        background-color: var(--vs-switch-trueBackgroundColor, var(--vs-comp-bg));
        border-color: var(--vs-switch-trueBorderColor, var(--vs-comp-bg));
        border-style: solid;
        border-width: var(--vs-switch-trueBorderWidth, 0);
        color: var(--vs-switch-trueFontColor, var(--vs-comp-bg-primary));

        &::before {
            left: calc(100% - ($switchSize + $switchGap));
            background-color: var(--vs-switch-trueHandleColor, var(--vs-comp-bg-primary));
        }

        .status-label {
            padding-left: 0;
            padding-right: calc($switchSize);
        }
    }

    &.disabled {
        @include disabled;
    }

    &.readonly {
        @include readonly;
    }
}
