.vs-tooltip {
    display: inline-flex;
    position: relative;
}

.vs-tooltip-wrap {
    position: absolute;
    z-index: 10000;
    padding: 0.2rem;

    .vs-tooltip-contents {
        position: relative;
        padding: var(--vs-tooltip-padding, 0.8rem 1.2rem);
        font-size: var(--vs-tooltip-fontSize, var(--vs-font-size-sm));
        border-radius: var(--vs-tooltip-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
        border: var(--vs-tooltip-border, 0.1rem solid var(--vs-primary-comp-bg));
        box-shadow: var(--vs-tooltip-boxShadow, 2px 2px 3px rgba(0, 0, 0, 0.3));
        background-color: var(--vs-tooltip-backgroundColor, var(--vs-area-bg));
        color: var(--vs-tooltip-fontColor, var(--vs-font-color));
        white-space: nowrap;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: var(--vs-tooltip-arrowSize, 0.4rem) solid transparent;
            border-bottom: var(--vs-tooltip-arrowSize, 0.4rem) solid
                var(--vs-tooltip-borderColor, var(--vs-primary-comp-bg));
        }
    }

    &.vs-placement-top .vs-tooltip-contents::after {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%) rotate(180deg);
    }

    &.vs-placement-top.vs-align-start .vs-tooltip-contents::after {
        left: 20%;
    }

    &.vs-placement-top.vs-align-end .vs-tooltip-contents::after {
        left: 80%;
    }

    &.vs-placement-right .vs-tooltip-contents::after {
        top: 50%;
        left: 0;
        transform: translate(calc(-100%), -50%) rotate(270deg);
    }

    &.vs-placement-right.vs-align-start .vs-tooltip-contents::after {
        top: 20%;
    }

    &.vs-placement-right.vs-align-end .vs-tooltip-contents::after {
        top: 80%;
    }

    &.vs-placement-bottom .vs-tooltip-contents::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%) rotate(0deg);
    }

    &.vs-placement-bottom.vs-align-start .vs-tooltip-contents::after {
        left: 20%;
    }

    &.vs-placement-bottom.vs-align-end .vs-tooltip-contents::after {
        left: 80%;
    }

    &.vs-placement-left .vs-tooltip-contents::after {
        top: 50%;
        right: 0;
        transform: translate(calc(100%), -50%) rotate(90deg);
    }

    &.vs-placement-left.vs-align-start .vs-tooltip-contents::after {
        top: 20%;
    }

    &.vs-placement-left.vs-align-end .vs-tooltip-contents::after {
        top: 80%;
    }
}
