.vs-tooltip {
    display: inline-flex;
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 1000;
    padding: 0.2rem;

    .tooltip-contents {
        position: relative;
        padding: var(--vs-tooltip-padding, 0.45rem 0.55rem);
        font-size: var(--vs-tooltip-fontSize, 1rem);
        background-color: var(--vs-tooltip-backgroundColor, var(--vs-area-backgroundColor));
        border: var(--vs-tooltip-border, 0.18rem solid var(--vs-comp-color));
        border-radius: var(--vs-tooltip-borderRadius, 0.35rem);
        box-shadow: var(--vs-tooltip-boxShadow, 0.18rem 0.15rem 0.15rem 0 rgba(#000, 0.25));
        color: var(--vs-tooltip-fontColor, var(--vs-comp-color));
        white-space: nowrap;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 0.4rem solid transparent;
            border-bottom: 0.5rem solid var(--vs-tooltip-arrowColor, var(--vs-comp-color));
        }
    }

    &.placement-top .tooltip-contents::after {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%) rotate(180deg);
    }

    &.placement-top.align-start .tooltip-contents::after {
        left: 20%;
    }

    &.placement-top.align-end .tooltip-contents::after {
        left: 80%;
    }

    &.placement-right .tooltip-contents::after {
        top: 50%;
        left: 0;
        transform: translate(calc(-100%), -50%) rotate(270deg);
    }

    &.placement-right.align-start .tooltip-contents::after {
        top: 20%;
    }

    &.placement-right.align-end .tooltip-contents::after {
        top: 80%;
    }

    &.placement-bottom .tooltip-contents::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%) rotate(0deg);
    }

    &.placement-bottom.align-start .tooltip-contents::after {
        left: 20%;
    }

    &.placement-bottom.align-end .tooltip-contents::after {
        left: 80%;
    }

    &.placement-left .tooltip-contents::after {
        top: 50%;
        right: 0;
        transform: translate(calc(100%), -50%) rotate(90deg);
    }

    &.placement-left.align-start .tooltip-contents::after {
        top: 20%;
    }

    &.placement-left.align-end .tooltip-contents::after {
        top: 80%;
    }
}
