@use '@/styles/mixin' as *;

$checkbox-size: var(--vs-checkbox-node-checkboxSize, 2.4rem);

.vs-checkbox-node {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    user-select: none;
    height: var(--vs-checkbox-node-height, var(--vs-input-comp-height));

    .vs-checkbox-wrap {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--vs-checkbox-node-checkboxColor, var(--vs-primary-comp-bg));
        border-radius: var(--vs-checkbox-node-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius-sm)));
        overflow: hidden;

        .vs-check-icon {
            width: $checkbox-size;
            height: $checkbox-size;
        }

        .vs-checkbox-input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &.vs-state-box {
            @include state-box;
            outline-offset: 0;
        }

        &:focus-within {
            @include focus-outline;
            outline-offset: 0;
        }
    }

    .vs-checkbox-label {
        user-select: none;
        padding-left: 0.5rem;
        cursor: pointer;
        white-space: nowrap;
        color: var(--vs-checkbox-node-labelFontColor, var(--vs-font-color));
        font-size: var(--vs-checkbox-node-labelFontSize, var(--vs-font-size));
    }

    &.vs-dense {
        height: var(--vs-checkbox-node-height, var(--vs-input-comp-height-dense));

        .vs-checkbox-label {
            font-size: var(--vs-checkbox-node-labelFontSize, var(--vs-font-size-sm));
        }
    }

    &.vs-checked {
        .vs-checkbox-label {
            color: var(--vs-checkbox-node-selectedLabelFontColor, var(--vs-primary-comp-bg));
        }
    }

    &.vs-disabled {
        @include disabled;
    }

    &.vs-readonly {
        @include readonly;
    }
}
