.vs-text-wrap {
    overflow-x: auto;
}

.text-wrap {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    .text-wrap-contents {
        color: var(--vs-comp-font);
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        -webkit-line-clamp: 1;
    }

    .text-wrap-buttons {
        > button {
            &.copy-button {
                color: var(--vs-text-wrap-copyIconColor, var(--vs-comp-font));

                .copied {
                    color: green;
                }
            }

            &.link-button {
                color: var(--vs-text-wrap-linkIconColor, var(--vs-comp-font));
            }
        }

        button + button {
            margin-left: 0.1rem;
        }
    }

    .text-wrap-contents + .text-wrap-buttons {
        margin-left: 0.6rem;
    }
}
