.vs-text-wrap {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow-x: auto;

    .vs-text-wrap-contents {
        color: var(--vs-font-color);
        font-size: var(--vs-font-size);
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        -webkit-line-clamp: 1;
    }

    .vs-text-wrap-buttons {
        display: flex;
        align-items: center;
        margin-left: 0.2rem;

        .vs-text-wrap-button {
            &.copy-button {
                color: var(--vs-text-wrap-copyIconColor, var(--vs-indigo));

                .copied {
                    color: var(--vs-green);
                }
            }

            &.link-button {
                overflow: hidden;

                .link-icon {
                    color: var(--vs-text-wrap-linkIconColor, var(--vs-light-blue));
                    transform: rotate(135deg);
                }
            }
        }

        .vs-text-wrap-button + .vs-text-wrap-button {
            margin-left: 0.1rem;
        }
    }
}
