.vs-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    max-height: var(--vs-button-maxHeight, 3rem);
    padding: var(--vs-button-padding, 0.5rem 1.6rem);
    border: none;
    border-radius: var(--vs-button-borderRadius, 0.4rem);
    cursor: pointer;
    font-size: var(--vs-button-fontSize, 1.4rem);
    font-weight: var(--vs-button-fontWeight, 400);
    background-color: var(--vs-button-backgroundColor, var(--vs-comp-backgroundColor));
    color: var(--vs-button-color, var(--vs-comp-color));

    .content {
        display: flex;
        align-items: center;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 120%;
        height: 100%;
        background: #ffffff;
        transition: all 0.4s ease-out;
        pointer-events: none;
    }

    &:active:after {
        opacity: 0.6;
        width: 0%;
        transition: 0s;
    }

    &[disabled] {
        opacity: 0.45;
        pointer-events: none;
    }
}

// Primary {
.vs-button {
    &.primary {
        background-color: var(--vs-button-backgroundColor, var(--vs-comp-backgroundColor-primary));
        color: var(--vs-button-color, var(--vs-comp-color-primary));
    }
}

// Size
.vs-button {
    &.dense {
        padding: var(--vs-button-padding, 0.3rem 1.2rem);
        border-radius: var(--vs-button-borderRadius, 0.4rem);
        font-size: var(--vs-button-fontSize, 1.3rem);
        max-height: var(--vs-button-maxHeight, 2.4rem);
    }

    &.large {
        padding: var(--vs-button-padding, 0.8rem 2rem);
        border-radius: var(--vs-button-borderRadius, 0.6rem);
        font-size: var(--vs-button-fontSize, 1.6rem);
        max-height: var(--vs-button-maxHeight, 3.7rem);
    }
}

// Outline
.vs-button {
    &.outline {
        background: none;
        border: var(--vs-button-outlineBorder, 1px solid var(--vs-comp-color));
        color: var(--vs-button-color, var(--vs-comp-color));
        font-weight: var(--vs-button-fontWeight, 500);

        &:after {
            background: var(--grey-200);
        }
    }
}

// Loading
.vs-button {
    .loading-icon {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        font-size: 0;
    }

    &.loading {
        pointer-events: none;
        .content {
            visibility: hidden;
        }
        .loading-icon {
            visibility: visible;
        }
    }
}

.rotate-ani {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vs-button + .vs-button {
    margin-left: 6px;
}

@media screen and (max-width: 768px) {
    .vs-button.mobile-full + .vs-button.mobile-full {
        margin-top: 5px;
    }

    .vs-button.mobile-full {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
