$titleColor: var(--vs-accordion-titleFontColor, var(--vs-comp-font));

.vs-accordion {
    position: relative;

    details {
        box-sizing: border-box;
        overflow: hidden;
        border: var(--vs-accordion-border, 1px solid var(--vs-line-color));
        border-radius: var(--vs-accordion-borderRadius, 0.4rem);

        summary {
            position: relative;
            display: block;
            box-sizing: border-box;
            font-size: var(--vs-accordion-titleFontSize, 1rem);
            font-weight: var(--vs-accordion-titleFontWeight, 600);
            color: $titleColor;
            background-color: var(--vs-accordion-titleBackgroundColor, var(--vs-comp-bg));
            padding: var(--vs-accordion-titlePadding, 1rem);
            padding-left: 2.2rem;
            cursor: pointer;
            user-select: none;
            outline: none;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 1rem;
                border-width: 0.4rem;
                border-style: solid;
                border-color: transparent transparent transparent $titleColor;
                transform: translateY(-50%) rotate(0);
                transform-origin: 0.2rem 50%;
                transition: 0.25s transform ease;
            }
        }

        .accordion-content {
            box-sizing: border-box;
            background-color: var(--vs-accordion-contentBackgroundColor, var(--vs-no-color));
            color: var(--vs-accordion-contentFontColor, var(--vs-comp-font));
            padding: var(--vs-accordion-contentPadding, 0.8rem 1.6rem);
        }
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details[open] > summary:before {
        transform: translateY(-50%) rotate(90deg);
    }

    details[open] > summary {
        border-bottom: 1px solid var(--vs-line-color);
    }
}
