$titleColor: var(--vs-accordion-title-fontColor, var(--vs-comp-font));

.vs-accordion {
    position: relative;

    .vs-accordion-details {
        box-sizing: border-box;
        overflow: hidden;
        border: var(--vs-accordion-border, 1px solid var(--vs-line-color));
        border-radius: var(--vs-accordion-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));

        .vs-accordion-summary {
            position: relative;
            display: block;
            box-sizing: border-box;
            font-size: var(--vs-accordion-title-fontSize, var(--vs-font-size-lg));
            font-weight: var(--vs-accordion-title-fontWeight, 500);
            color: $titleColor;
            background-color: var(--vs-accordion-title-backgroundColor, var(--vs-comp-bg));
            padding: var(--vs-accordion-title-padding, 1.2rem);
            padding-left: 4rem;
            cursor: pointer;
            user-select: none;
            outline: none;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 2rem;
                border-width: 0.6rem;
                border-style: solid;
                border-color: transparent transparent transparent $titleColor;
                transform: translateY(-50%) rotate(0);
                transform-origin: 0.2rem 50%;
                transition: 0.25s transform ease;
            }
        }

        .vs-accordion-content {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            background-color: var(--vs-accordion-backgroundColor, transparent);
            color: var(--vs-accordion-fontColor, var(--vs-font-color));
            font-size: var(--vs-accordion-fontSize, var(--vs-font-size));
            padding: var(--vs-accordion-padding, 1.2rem 2rem);
        }
    }

    .vs-accordion-details .vs-accordion-summary::-webkit-details-marker {
        display: none;
    }

    .vs-accordion-details[open] > .vs-accordion-summary:before {
        transform: translateY(-50%) rotate(90deg);
    }

    .vs-accordion-details[open] > .vs-accordion-summary {
        border-bottom: 1px solid var(--vs-line-color);
    }
}
