.vs-section {
    background-color: var(--vs-section-backgroundColor, var(--vs-area-bg));
    border-radius: var(--vs-section-borderRadius, calc(var(--vs-radius-ratio) * 0.6rem));
    box-shadow: var(--vs-section-boxShadow, var(--vs-area-shadow-outer));
    color: var(--vs-section-fontColor, var(--vs-font-color));
    padding: var(--vs-section-padding, 2rem);
    position: relative;
    overflow: auto;

    .section-title {
        margin: var(--vs-section-titleMargin, 0 0 1.2rem 0);
    }
}

@media screen and (max-width: 992px) {
    .vs-section {
        padding: var(--vs-section-padding, 1.6rem);
    }
}

@media screen and (max-width: 768px) {
    .vs-section {
        padding: var(--vs-section-padding, 1.2rem);
    }
}

@media screen and (max-width: 576px) {
    .vs-section {
        padding: var(--vs-section-padding, 1rem);
    }
}
