.vs-section {
    background-color: var(--vs-section-backgroundColor, var(--vs-area-bg));
    border-radius: var(--vs-section-borderRadius, 0.4rem);
    box-shadow: var(--vs-section-boxShadow, var(--vs-area-shadow));
    color: var(--vs-section-fontColor, var(--vs-font-color));
    padding: var(--vs-section-padding, 2rem);
    position: relative;

    .section-title {
        margin: var(--vs-section-titleMargin, 0 0 1.2rem 0);
    }
}

.vs-section + .vs-section {
    margin-top: 3rem;
}

@media screen and (max-width: 992px) {
    .vs-section {
        padding: var(--vs-section-padding, 1.6rem);
    }

    .vs-section + .vs-section {
        margin-top: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    .vs-section {
        padding: var(--vs-section-padding, 1.2rem);
    }

    .vs-section + .vs-section {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .vs-section {
        padding: var(--vs-section-padding, 1rem);
    }

    .vs-section + .vs-section {
        margin-top: 1.6rem;
    }
}
