.vs-page {
    position: relative;
    padding: var(--vs-page-padding, 3rem 4rem);
    color: var(--vs-page-fontColor, var(--vs-font-color));

    .page-header {
        margin-bottom: 2.4rem;

        .page-description {
            margin-top: 0.4rem;
        }
    }
}
