@use '@/styles/mixin' as *;
@use '@/styles/variables' as *;

$drawer-border: var(--vs-drawer-border, 1px solid var(--vs-line-color));

.vs-drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--vs-drawer-zIndex);
    color: var(--vs-font-color);
    pointer-events: none;

    &.vs-dimmed {
        pointer-events: auto;
    }

    .vs-drawer-dimmed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: var(--vs-dimmed-background-color);
    }

    .vs-drawer-hidden {
        overflow: hidden;
    }

    .vs-drawer-wrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--vs-drawer-backgroundColor, var(--vs-area-bg));
        pointer-events: auto;
        padding: var(--vs-drawer-padding, 0);

        .vs-drawer-header {
            position: relative;
            border-bottom: $drawer-border;
        }
        .vs-drawer-footer {
            position: relative;
            border-top: $drawer-border;
        }
        .vs-drawer-body {
            position: relative;
            flex: auto;
            overflow: auto;

            &.vs-hide-scroll {
                @include hide-scroll;
            }
        }

        // placement
        &.vs-top {
            top: 0;
            left: 0;
            border-bottom: $drawer-border;
        }

        &.vs-right {
            top: 0;
            right: 0;
            border-left: $drawer-border;
        }

        &.vs-bottom {
            bottom: 0;
            left: 0;
            border-top: $drawer-border;
        }

        &.vs-left {
            top: 0;
            left: 0;
            border-right: $drawer-border;
        }

        // size
        &.vs-left,
        &.vs-right {
            max-width: var(--vs-drawer-size);
            min-width: 200px;
        }

        &.vs-top,
        &.vs-bottom {
            max-height: var(--vs-drawer-size);
            min-height: 100px;
        }
    }
}

.drawer-enter-active .vs-drawer-dimmed,
.drawer-leave-active .vs-drawer-dimmed,
.drawer-enter-active .vs-drawer-wrap,
.drawer-leave-active .vs-drawer-wrap {
    transition: all 0.3s;
}

.drawer-enter-from .vs-drawer-dimmed,
.drawer-leave-to .vs-drawer-dimmed {
    opacity: 0;
}

.drawer-enter-from .vs-drawer-wrap.vs-left,
.drawer-leave-to .vs-drawer-wrap.vs-left {
    transform: translateX(-100%);
}

.drawer-enter-from .vs-drawer-wrap.vs-right,
.drawer-leave-to .vs-drawer-wrap.vs-right {
    transform: translateX(100%);
}

.drawer-enter-from .vs-drawer-wrap.vs-bottom,
.drawer-leave-to .vs-drawer-wrap.vs-bottom {
    transform: translateY(100%);
}

.drawer-enter-from .vs-drawer-wrap.vs-top,
.drawer-leave-to .vs-drawer-wrap.vs-top {
    transform: translateY(-100%);
}
