$sizes: xs, sm, md, lg, xl;

.vs-drawer {
    .dimmed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: var(--vs-dialog-node-zIndex);
        background-color: var(--vs-dimmed-backgroundColor);

        &.has-container {
            position: absolute;
        }
    }

    :deep(.vs-dialog-content) {
        width: 100%;
        height: 100%;

        // placement
        &.top {
            top: 0;
            left: 0;
        }

        &.right {
            top: 0;
            right: 0;
        }

        &.bottom {
            bottom: 0;
            left: 0;
        }

        &.left {
            top: 0;
            left: 0;
        }

        // size
        &.left,
        &.right {
            max-width: var(--vs-drawer-width, var(--vs-drawer-width-sm));
            max-height: var(--vs-drawer-height);

            @each $size in $sizes {
                &.#{$size} {
                    max-width: var(--vs-drawer-width-#{$size});
                }
            }
        }

        &.top,
        &.bottom {
            max-width: var(--vs-drawer-width);
            max-height: var(--vs-drawer-height, var(--vs-drawer-height-sm));

            @each $size in $sizes {
                &.#{$size} {
                    max-height: var(--vs-drawer-height-#{$size});
                }
            }
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s;
}

.fade-enter-form,
.fade-leave-to {
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active {
    transition: all 0.3s;
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX(-100%);
}

.slide-right-enter-from,
.slide-right-leave-to {
    transform: translateX(100%);
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
    transform: translateY(100%);
}

.slide-top-enter-from,
.slide-top-leave-to {
    transform: translateY(-100%);
}
