@use '@/styles/mixin' as *;

.vs-checkbox {
    display: flex;
    align-items: center;
    margin: 0.4rem 0.2rem;
    user-select: none;

    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: var(--vs-checkbox-width, 1rem);
        height: var(--vs-checkbox-height, 1rem);
        border: var(--vs-checkbox-border, 2px solid var(--vs-comp-border-color));
        border-radius: var(--vs-checkbox-borderRadius, 0.14rem);

        .check-icon {
            width: var(--vs-checkbox-width, 1rem);
            height: var(--vs-checkbox-height, 1rem);
            color: transparent;
            transition: all 0.2s ease;
        }

        input[type='checkbox'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            appearance: none;
            outline: none;
            cursor: pointer;
            margin: 0;

            &:focus-within {
                @include focus-shadow;
            }
        }
    }

    label {
        margin-left: 0.8rem;
        font-size: var(--vs-checkbox-fontSize, 1rem);
        color: var(--vs-checkbox-checkLabelColor, var(--vs-font-color));
        cursor: pointer;
    }

    &.checked {
        .checkbox {
            background-color: var(--vs-checkbox-backgroundColor, var(--vs-comp-border-color));

            .check-icon {
                color: var(--vs-checkbox-iconColor, var(--vs-plain-backgroundColor));
            }
        }
    }

    &.disabled {
        @include disabled;
    }

    &.readonly {
        pointer-events: none;
    }
}
