@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-weight: 400;
    font-family:
        'Noto Sans',
        'Nanum Gothic',
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
    font-weight: 400;
    background-color: var(--vs-app-background-color);
}

.vs-inline-gap:has(+ .vs-inline-gap) {
    margin-right: 0.4rem;
}

// vlossom scrollbar
::-webkit- {
    &scrollbar {
        width: 0.4rem;
    }

    &scrollbar:horizontal {
        height: 0.4rem;
    }

    &scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(#b9b9b9, 0.6);
        &:hover {
            background-color: rgba(#a1a1a1, 1);
        }
    }

    &scrollbar-corner {
        background-color: transparent;
    }
}
