@use 'palette' as *;

$colorScheme-light: (
    'default': (
        area-backgroundColor: #ffffff,
        comp-backgroundColor: #{$indigo-200},
        comp-color: #{$indigo-600},
        comp-backgroundColor-primary: #{$indigo-600},
        comp-color-primary: #{$grey-50},
        comp-border-color: #{$indigo-600},
        line-color: #{$grey-700},
        light-backgroundColor: transparentize($indigo-200, 0.8),
    ),
    'red': (
        area-backgroundColor: transparentize($red-50, 0.5),
        comp-backgroundColor: #{$red-100},
        comp-color: #{$red-700},
        comp-backgroundColor-primary: #{$red-500},
        comp-color-primary: #{$grey-50},
        comp-border-color: #{$red-500},
        line-color: #{$red-500},
        light-backgroundColor: transparentize($red-200, 0.8),
    ),
    'yellow': (
        area-backgroundColor: transparentize($yellow-50, 0.45),
        comp-backgroundColor: #{$yellow-200},
        comp-color: #{$yellow-800},
        comp-backgroundColor-primary: #{$yellow-600},
        comp-color-primary: #{$grey-50},
        comp-border-color: #{$yellow-600},
        line-color: #{$yellow-500},
        light-backgroundColor: transparentize($yellow-200, 0.8),
    ),
    'green': (
        area-backgroundColor: transparentize($green-50, 0.45),
        comp-backgroundColor: #{$green-100},
        comp-color: #{$green-800},
        comp-backgroundColor-primary: #{$green-600},
        comp-color-primary: #{$grey-50},
        comp-border-color: #{$green-600},
        line-color: #{$green-600},
        light-backgroundColor: transparentize($green-200, 0.8),
    ),
    'blue': (
        area-backgroundColor: transparentize($blue-50, 0.45),
        comp-backgroundColor: #{$blue-100},
        comp-color: #{$blue-800},
        comp-backgroundColor-primary: #{$blue-500},
        comp-color-primary: #{$grey-50},
        comp-border-color: #{$blue-500},
        line-color: #{$blue-500},
        light-backgroundColor: transparentize($blue-200, 0.8),
    ),
    'indigo': (
        area-backgroundColor: transparentize($indigo-100, 0.45),
        comp-backgroundColor: #{$indigo-200},
        comp-color: #{$indigo-600},
        comp-backgroundColor-primary: #{$indigo-600},
        comp-color-primary: #{$grey-50},
        comp-border-color: #{$indigo-600},
        line-color: #{$indigo-600},
        light-backgroundColor: transparentize($indigo-200, 0.8),
    ),
);

$colorScheme-dark: (
    'default': (
        area-backgroundColor: #14151f,
        comp-border-color: #{$indigo-400},
        line-color: #{$grey-300},
        light-backgroundColor: transparentize($indigo-300, 0.8),
    ),
    'red': (
        area-backgroundColor: transparentize($red-400, 0.9),
        comp-border-color: #{$red-500},
        line-color: #{$red-300},
        light-backgroundColor: transparentize($red-300, 0.8),
    ),
    'yellow': (
        area-backgroundColor: transparentize($yellow-400, 0.9),
        comp-border-color: #{$yellow-500},
        line-color: #{$yellow-300},
        light-backgroundColor: transparentize($yellow-300, 0.5),
    ),
    'green': (
        area-backgroundColor: transparentize($green-400, 0.9),
        comp-border-color: #{$green-400},
        line-color: #{$green-400},
        light-backgroundColor: transparentize($green-300, 0.8),
    ),
    'blue': (
        area-backgroundColor: transparentize($blue-400, 0.9),
        comp-border-color: #{$blue-400},
        line-color: #{$blue-400},
        light-backgroundColor: transparentize($blue-300, 0.8),
    ),
    'indigo': (
        area-backgroundColor: transparentize($indigo-400, 0.8),
        comp-border-color: #{$indigo-400},
        line-color: #{$indigo-400},
        light-backgroundColor: transparentize($indigo-300, 0.8),
    ),
);

:root {
    @each $color, $map in $colorScheme-light {
        .vs-#{$color} {
            @each $key, $value in $map {
                --vs-#{$key}: #{$value};
            }
        }
    }

    .vs-dark {
        @each $color, $map in $colorScheme-dark {
            .vs-#{$color} {
                @each $key, $value in $map {
                    --vs-#{$key}: #{$value};
                }
            }
        }
    }
}
