@use 'sass:map';
@use 'sass:color';
@use 'palette' as *;

$colors: map.keys($palette);

:root {
    --vs-no-color: var(--vs-white);
    --vs-no-color-inverse: var(--vs-black);
    --vs-no-color-font: var(--vs-gray-800);

    --vs-comp-bg: var(--vs-white);
    --vs-comp-bg-hover: #{darken(#ffffff, 5%)};
    --vs-comp-bg-active: #{darken(#ffffff, 15%)};
    --vs-comp-bg-gradient: linear-gradient(45deg, var(--vs-gray-600) 0%, var(--vs-gray-300) 100%);

    --vs-comp-bg-primary: var(--vs-black);
    --vs-comp-bg-primary-hover: #{lighten(#000000, 10%)};
    --vs-comp-bg-primary-active: #{lighten(#000000, 20%)};

    --vs-font-color: var(--vs-gray-800);

    --vs-font-color-primary: var(--vs-white);

    --vs-line-color: var(--vs-gray-700);

    --vs-line-color-primary: var(--vs-black);

    --vs-area-bg: var(--vs-white);
    --vs-area-bg-hover: #{darken(#ffffff, 5%)};

    .vs-dark {
        --vs-no-color: var(--vs-black);
        --vs-no-color-inverse: var(--vs-white);
        --vs-no-color-font: var(--vs-gray-50);

        --vs-comp-bg: var(--vs-black);
        --vs-comp-bg-hover: #{lighten(#000000, 10%)};
        --vs-comp-bg-active: #{lighten(#000000, 20%)};
        --vs-comp-bg-gradient: linear-gradient(45deg, var(--vs-gray-600) 0%, var(--vs-gray-300) 100%);

        --vs-comp-bg-primary: var(--vs-white);
        --vs-comp-bg-primary-hover: #{darken(#ffffff, 5%)};
        --vs-comp-bg-primary-active: #{darken(#ffffff, 10%)};

        --vs-font-color: var(--vs-gray-50);

        --vs-font-color-primary: var(--vs-black);

        --vs-line-color: var(--vs-gray-100);

        --vs-line-color-primary: var(--vs-white);

        --vs-area-bg: var(--vs-black);
        --vs-area-bg-hover: #{lighten(#000000, 5%)};
    }

    @each $color in $colors {
        .vs-#{$color} {
            --vs-comp-bg: #{map.get($palette, $color, 100)};
            --vs-comp-bg-hover: #{darken(map.get($palette, $color, 100), 5%)};
            --vs-comp-bg-active: #{darken(map.get($palette, $color, 100), 15%)};
            --vs-comp-bg-gradient: linear-gradient(
                45deg,
                map.get($palette, $color, 500) 0%,
                map.get($palette, $color, 300) 100%
            );

            --vs-comp-bg-primary: #{map.get($palette, $color, 500)};
            --vs-comp-bg-primary-hover: #{lighten(map.get($palette, $color, 500), 2%)};
            --vs-comp-bg-primary-active: #{lighten(map.get($palette, $color, 500), 4%)};

            --vs-font-color: #{map.get($palette, $color, 800)};

            --vs-font-color-primary: #{lighten(map.get($palette, $color, 50), 50%)};

            --vs-line-color: #{map.get($palette, $color, 100)};

            --vs-line-color-primary: #{map.get($palette, $color, 500)};

            --vs-area-bg: #{lighten(map.get($palette, $color, 50), 5%)};
            --vs-area-bg-hover: #{map.get($palette, $color, 50)};
        }
    }
}
