@use 'sass:map';
@use 'palette' as *;

$colorScheme-light: (
    'default': (
        area-backgroundColor: var(--vs-white),
        comp-backgroundColor: var(--vs-gray-100),
        comp-color: var(--vs-gray-700),
        comp-backgroundColor-primary: var(--vs-gray-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-gray-700),
        gradient-color: linear-gradient(45deg, var(--vs-gray-600) 0%, var(--vs-gray-300) 100%),
        line-color: var(--vs-gray-700),
        light-backgroundColor: transparentize(map.get($palette, gray, 100), 0.8),
        // black
        comp-bg-default: var(--vs-gray-100),
        comp-bg-primary: var(--vs-black),
        comp-bg-hover: var(--vs-gray-900),
        comp-bg-gradient: linear-gradient(45deg, var(--vs-gray-600) 0%, var(--vs-gray-300) 100%),
        comp-bg-active: var(--vs-gray-400),
        font-color-default: var(--vs-gray-900),
        font-color-primary: var(--vs-gray-50),
        font-color-hover: var(--vs-gray-900),
        font-color-active: var(--vs-gray-900),
        font-weight-default: 400,
        font-weight-primary: 500,
        font-weight-hover: 500,
        font-weight-active: 500,
        border-color-default: var(--vs-gray-200),
        border-color-primary: var(--vs-gray-200),
        border-color-hover: var(--vs-gray-300),
        border-color-active: var(--vs-gray-400),
        area-bg-default: var(--vs-white),
        area-bg-hover: var(--vs-gray-50),
        area-bg-active: var(--vs-gray-50),
    ),
    'gray': (
        area-backgroundColor: transparentize(map.get($palette, gray, 50), 0.45),
        comp-backgroundColor: var(--vs-gray-100),
        comp-color: var(--vs-gray-700),
        comp-backgroundColor-primary: var(--vs-gray-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-gray-700),
        gradient-color: linear-gradient(45deg, var(--vs-gray-600) 0%, var(--vs-gray-300) 100%),
        line-color: var(--vs-gray-700),
        light-backgroundColor: transparentize(map.get($palette, gray, 200), 0.8),
    ),
    'red': (
        area-backgroundColor: transparentize(map.get($palette, red, 50), 0.5),
        comp-backgroundColor: var(--vs-red-100),
        comp-color: var(--vs-red-600),
        comp-backgroundColor-primary: var(--vs-red-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-red-600),
        gradient-color: linear-gradient(45deg, var(--vs-red-600) 0%, var(--vs-red-400) 100%),
        line-color: var(--vs-red-600),
        light-backgroundColor: transparentize(map.get($palette, red, 200), 0.8),
    ),
    'orange': (
        area-backgroundColor: transparentize(map.get($palette, orange, 50), 0.45),
        comp-backgroundColor: var(--vs-orange-100),
        comp-color: var(--vs-orange-700),
        comp-backgroundColor-primary: var(--vs-orange-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-orange-600),
        gradient-color: linear-gradient(45deg, var(--vs-orange-600) 0%, var(--vs-orange-400) 100%),
        line-color: var(--vs-orange-500),
        light-backgroundColor: transparentize(map.get($palette, orange, 200), 0.8),
    ),
    'yellow': (
        area-backgroundColor: transparentize(map.get($palette, yellow, 50), 0.45),
        comp-backgroundColor: var(--vs-yellow-200),
        comp-color: var(--vs-yellow-600),
        comp-backgroundColor-primary: var(--vs-yellow-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-yellow-600),
        gradient-color: linear-gradient(45deg, var(--vs-yellow-600) 0%, var(--vs-yellow-600) 100%),
        line-color: var(--vs-yellow-900),
        light-backgroundColor: transparentize(map.get($palette, yellow, 200), 0.8),
    ),
    'yellow-green': (
        area-backgroundColor: transparentize(map.get($palette, yellow-green, 50), 0.45),
        comp-backgroundColor: var(--vs-yellow-green-200),
        comp-color: var(--vs-yellow-green-900),
        comp-backgroundColor-primary: var(--vs-yellow-green-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-yellow-green-600),
        gradient-color: linear-gradient(45deg, var(--vs-yellow-green-600) 0%, var(--vs-yellow-green-400) 100%),
        line-color: var(--vs-yellow-green-900),
        light-backgroundColor: transparentize(map.get($palette, yellow-green, 200), 0.8),
    ),
    'green': (
        area-backgroundColor: transparentize(map.get($palette, green, 50), 0.45),
        comp-backgroundColor: var(--vs-green-100),
        comp-color: var(--vs-green-800),
        comp-backgroundColor-primary: var(--vs-green-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-green-600),
        gradient-color: linear-gradient(45deg, var(--vs-green-600) 0%, var(--vs-green-400) 100%),
        line-color: var(--vs-green-600),
        light-backgroundColor: transparentize(map.get($palette, green, 200), 0.8),
    ),
    'teal': (
        area-backgroundColor: transparentize(map.get($palette, teal, 50), 0.45),
        comp-backgroundColor: var(--vs-teal-100),
        comp-color: var(--vs-teal-800),
        comp-backgroundColor-primary: var(--vs-teal-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-teal-600),
        gradient-color: linear-gradient(45deg, var(--vs-teal-600) 0%, var(--vs-teal-400) 100%),
        line-color: var(--vs-teal-600),
        light-backgroundColor: transparentize(map.get($palette, teal, 200), 0.8),
    ),
    'light-blue': (
        area-backgroundColor: transparentize(map.get($palette, light-blue, 50), 0.45),
        comp-backgroundColor: var(--vs-light-blue-100),
        comp-color: var(--vs-light-blue-800),
        comp-backgroundColor-primary: var(--vs-light-blue-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-light-blue-600),
        gradient-color: linear-gradient(45deg, var(--vs-light-blue-600) 0%, var(--vs-light-blue-300) 100%),
        line-color: var(--vs-light-blue-600),
        light-backgroundColor: transparentize(map.get($palette, light-blue, 200), 0.8),
    ),
    'blue': (
        area-backgroundColor: transparentize(map.get($palette, blue, 50), 0.45),
        comp-backgroundColor: var(--vs-blue-100),
        comp-color: var(--vs-blue-600),
        comp-backgroundColor-primary: var(--vs-blue-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-blue-500),
        gradient-color: linear-gradient(45deg, var(--vs-blue-600) 0%, var(--vs-blue-300) 100%),
        line-color: var(--vs-blue-500),
        light-backgroundColor: transparentize(map.get($palette, blue, 200), 0.8),
    ),
    'indigo': (
        area-backgroundColor: transparentize(map.get($palette, indigo, 100), 0.45),
        comp-backgroundColor: var(--vs-indigo-100),
        comp-color: var(--vs-indigo-700),
        comp-backgroundColor-primary: var(--vs-indigo-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-indigo-700),
        gradient-color: linear-gradient(45deg, var(--vs-indigo-600) 0%, var(--vs-indigo-300) 100%),
        line-color: var(--vs-indigo-700),
        light-backgroundColor: transparentize(map.get($palette, indigo, 200), 0.8),
    ),
    'purple': (
        area-backgroundColor: transparentize(map.get($palette, purple, 50), 0.45),
        comp-backgroundColor: var(--vs-purple-100),
        comp-color: var(--vs-purple-600),
        comp-backgroundColor-primary: var(--vs-purple-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-purple-600),
        gradient-color: linear-gradient(45deg, var(--vs-purple-600) 0%, var(--vs-purple-200) 100%),
        line-color: var(--vs-purple-600),
        light-backgroundColor: transparentize(map.get($palette, purple, 200), 0.8),
    ),
    'pink': (
        area-backgroundColor: transparentize(map.get($palette, pink, 50), 0.45),
        comp-backgroundColor: var(--vs-pink-100),
        comp-color: var(--vs-pink-700),
        comp-backgroundColor-primary: var(--vs-pink-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-pink-600),
        gradient-color: linear-gradient(45deg, var(--vs-pink-400) 0%, var(--vs-pink-200) 100%),
        line-color: var(--vs-pink-600),
        light-backgroundColor: transparentize(map.get($palette, pink, 200), 0.8),
    ),
    'brown': (
        area-backgroundColor: transparentize(map.get($palette, brown, 50), 0.45),
        comp-backgroundColor: var(--vs-brown-100),
        comp-color: var(--vs-brown-600),
        comp-backgroundColor-primary: var(--vs-brown-500),
        comp-color-primary: var(--vs-gray-50),
        comp-border-color: var(--vs-brown-600),
        gradient-color: linear-gradient(45deg, var(--vs-brown-500) 0%, var(--vs-brown-300) 100%),
        line-color: var(--vs-brown-600),
        light-backgroundColor: transparentize(map.get($palette, brown, 200), 0.8),
    ),
);

$colorScheme-dark: (
    'default': (
        area-backgroundColor: #14151f,
        comp-border-color: var(--vs-indigo-400),
        line-color: var(--vs-gray-300),
        light-backgroundColor: transparentize(map.get($palette, indigo, 300), 0.8),
    ),
    'red': (
        area-backgroundColor: transparentize(map.get($palette, red, 400), 0.9),
        comp-border-color: var(--vs-red-500),
        line-color: var(--vs-red-300),
        light-backgroundColor: transparentize(map.get($palette, red, 300), 0.8),
    ),
    'orange': (
        area-backgroundColor: transparentize(map.get($palette, orange, 400), 0.9),
        comp-border-color: var(--vs-orange-500),
        line-color: var(--vs-orange-300),
        light-backgroundColor: transparentize(map.get($palette, orange, 300), 0.8),
    ),
    'yellow': (
        area-backgroundColor: transparentize(map.get($palette, yellow, 400), 0.9),
        comp-border-color: var(--vs-yellow-500),
        line-color: var(--vs-yellow-300),
        light-backgroundColor: transparentize(map.get($palette, yellow, 300), 0.5),
    ),
    'yellow-green': (
        area-backgroundColor: transparentize(map.get($palette, yellow-green, 400), 0.9),
        comp-border-color: var(--vs-yellow-green-500),
        line-color: var(--vs-yellow-green-300),
        light-backgroundColor: transparentize(map.get($palette, yellow-green, 300), 0.8),
    ),
    'green': (
        area-backgroundColor: transparentize(map.get($palette, green, 400), 0.9),
        comp-border-color: var(--vs-green-400),
        line-color: var(--vs-green-400),
        light-backgroundColor: transparentize(map.get($palette, green, 300), 0.8),
    ),
    'teal': (
        area-backgroundColor: transparentize(map.get($palette, teal, 400), 0.9),
        comp-border-color: var(--vs-teal-400),
        line-color: var(--vs-teal-400),
        light-backgroundColor: transparentize(map.get($palette, teal, 300), 0.8),
    ),
    'light-blue': (
        area-backgroundColor: transparentize(map.get($palette, light-blue, 400), 0.9),
        comp-border-color: var(--vs-light-blue-400),
        line-color: var(--vs-light-blue-400),
        light-backgroundColor: transparentize(map.get($palette, light-blue, 300), 0.8),
    ),
    'blue': (
        area-backgroundColor: transparentize(map.get($palette, blue, 400), 0.9),
        comp-border-color: var(--vs-blue-400),
        line-color: var(--vs-blue-400),
        light-backgroundColor: transparentize(map.get($palette, blue, 300), 0.8),
    ),
    'indigo': (
        area-backgroundColor: transparentize(map.get($palette, indigo, 400), 0.8),
        comp-border-color: var(--vs-indigo-400),
        line-color: var(--vs-indigo-400),
        light-backgroundColor: transparentize(map.get($palette, indigo, 300), 0.8),
    ),
    'purple': (
        area-backgroundColor: transparentize(map.get($palette, purple, 400), 0.9),
        comp-border-color: var(--vs-purple-400),
        line-color: var(--vs-purple-400),
        light-backgroundColor: transparentize(map.get($palette, purple, 300), 0.8),
    ),
    'pink': (
        area-backgroundColor: transparentize(map.get($palette, pink, 400), 0.9),
        comp-border-color: var(--vs-pink-400),
        line-color: var(--vs-pink-400),
        light-backgroundColor: transparentize(map.get($palette, pink, 300), 0.8),
    ),
    'brown': (
        area-backgroundColor: transparentize(map.get($palette, brown, 400), 0.9),
        comp-border-color: var(--vs-brown-400),
        line-color: var(--vs-brown-400),
        light-backgroundColor: transparentize(map.get($palette, brown, 300), 0.8),
    ),
);

:root {
    @each $color, $map in $colorScheme-light {
        .vs-#{$color} {
            @each $key, $value in $map {
                --vs-#{$key}: #{$value};
            }
        }
    }

    .vs-dark {
        @each $color, $map in $colorScheme-dark {
            .vs-#{$color} {
                @each $key, $value in $map {
                    --vs-#{$key}: #{$value};
                }
            }
        }
    }
}
