@mixin focus-shadow {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.1s linear;
}

@mixin disabled {
    background-color: transparentize(#eef1ff, 0.25);
    opacity: 0.5;
    filter: grayscale(0.7);
    pointer-events: none;
}
