@mixin focus-shadow {
    box-shadow: var(--vs-area-shadow);
    transition: box-shadow 0.1s linear;
}

@mixin disabled {
    background-color: var(--vs-area-backgroundColor);
    opacity: 0.5;
    filter: grayscale(0.7);
    pointer-events: none;
}
