$palette: (
    gray: (
        50: #fafafa,
        100: #dddddd,
        200: #c1c1c1,
        300: #a4a4a4,
        400: #888888,
        500: #6b6b6b,
        600: #585858,
        700: #454545,
        800: #323232,
        900: #1f1f1f,
    ),
    red: (
        50: #fcebeb,
        100: #f2c4c4,
        200: #e89d9d,
        300: #dd7575,
        400: #d34e4e,
        500: #c92727,
        600: #a81e1e,
        700: #871515,
        800: #650c0c,
        900: #440303,
    ),
    orange: (
        50: #ffedda,
        100: #fcd7ae,
        200: #f9c283,
        300: #f7ac57,
        400: #f4972c,
        500: #f18100,
        600: #ce6d00,
        700: #aa5a01,
        800: #874601,
        900: #633201,
    ),
    yellow: (
        50: #fff9c4,
        100: #faea9e,
        200: #f5db77,
        300: #f1cc51,
        400: #ecbd2a,
        500: #e7ae04,
        600: #cb9903,
        700: #af8402,
        800: #936e01,
        900: #775900,
    ),
    yellow-green: (
        50: #f9ffe2,
        100: #e4f3b6,
        200: #cfe88a,
        300: #b9dc5d,
        400: #a4d131,
        500: #8fc505,
        600: #79a704,
        700: #638803,
        800: #4c6a01,
        900: #364b00,
    ),
    green: (
        50: #e7fff4,
        100: #b9edd4,
        200: #8bdbb4,
        300: #5cc895,
        400: #2eb675,
        500: #00a455,
        600: #008947,
        700: #006e3a,
        800: #00532c,
        900: #00381e,
    ),
    teal: (
        50: #e0f2f1,
        100: #b3ddd9,
        200: #86c8c2,
        300: #5ab3aa,
        400: #2d9e93,
        500: #00897b,
        600: #007a6c,
        700: #006b5e,
        800: #005c4f,
        900: #004d40,
    ),
    light-blue: (
        50: #d9f3ff,
        100: #b1e5fd,
        200: #89d6fb,
        300: #60c8f8,
        400: #38b9f6,
        500: #10abf4,
        600: #0d90ce,
        700: #0975a7,
        800: #065981,
        900: #023e5a,
    ),
    blue: (
        50: #e4eeff,
        100: #bad1f6,
        200: #91b4ee,
        300: #6797e5,
        400: #3e7add,
        500: #145dd4,
        600: #0f4eb4,
        700: #0a3f95,
        800: #053075,
        900: #002155,
    ),
    indigo: (
        50: #e6e8ff,
        100: #c9ccf5,
        200: #abb0ea,
        300: #8e94e0,
        400: #7078d5,
        500: #535ccb,
        600: #3f47a9,
        700: #2b3287,
        800: #171d64,
        900: #030842,
    ),
    purple: (
        50: #f3e5f5,
        100: #dbbde4,
        200: #c396d4,
        300: #ab6ec3,
        400: #9347b3,
        500: #7b1fa2,
        600: #681789,
        700: #551070,
        800: #410857,
        900: #2e003e,
    ),
    pink: (
        50: #fce4ec,
        100: #fdc3d9,
        200: #fda2c6,
        300: #fe81b2,
        400: #fe609f,
        500: #ff3f8c,
        600: #d43072,
        700: #a92057,
        800: #7e113d,
        900: #530122,
    ),
    brown: (
        50: #ffe7e6,
        100: #e3bebd,
        200: #c89695,
        300: #ac6d6c,
        400: #914544,
        500: #751c1b,
        600: #621615,
        700: #4f0f0e,
        800: #3c0908,
        900: #290201,
    ),
);

:root {
    @each $color, $levels in $palette {
        @each $level, $value in $levels {
            #{'--vs-' + $color + '-' + $level}: #{$value};
        }
    }

    --vs-black: #000000;
    --vs-white: #ffffff;
}
