$palette: (
    'gray': (
        50: #f0f0f0,
        100: #e0e0e0,
        200: #c0c0c0,
        300: #a1a1a1,
        400: #818181,
        500: #616161,
        600: #4e4e4e,
        700: #3a3a3a,
        800: #272727,
        900: #131313,
    ),
    'red': (
        50: #ffe6e9,
        100: #ffcdd2,
        200: #f9a8ab,
        300: #f28384,
        400: #ec5e5c,
        500: #e53935,
        600: #b72e2a,
        700: #892220,
        800: #5c1715,
        900: #2e0b0b,
    ),
    'orange': (
        50: #fff0d9,
        100: #ffe0b2,
        200: #fdc786,
        300: #faae59,
        400: #f8952d,
        500: #f57c00,
        600: #c46300,
        700: #934a00,
        800: #623200,
        900: #311900,
    ),
    'yellow': (
        50: #fcf5dd,
        100: #f8ebba,
        200: #f7e198,
        300: #f5d777,
        400: #f4cc55,
        500: #f2c233,
        600: #c29b29,
        700: #91741f,
        800: #614e14,
        900: #30270a,
    ),
    'yellow-green': (
        50: #eef7d0,
        100: #dcefa0,
        200: #cde978,
        300: #bfe450,
        400: #b0de28,
        500: #a1d800,
        600: #81ad00,
        700: #618200,
        800: #405600,
        900: #202b00,
    ),
    'green': (
        50: #daf3df,
        100: #b5e7be,
        200: #88d6a4,
        300: #5bc68a,
        400: #2db56f,
        500: #00a455,
        600: #008344,
        700: #006233,
        800: #004222,
        900: #002111,
    ),
    'teal': (
        50: #d9efed,
        100: #b2dfdb,
        200: #86c6bf,
        300: #59aca3,
        400: #2d9387,
        500: #00796b,
        600: #006156,
        700: #004940,
        800: #00302b,
        900: #001815,
    ),
    'light-blue': (
        50: #e2f5fe,
        100: #c4ebfc,
        200: #97dbfa,
        300: #6acbf8,
        400: #3dbbf6,
        500: #10abf4,
        600: #0d89c3,
        700: #0a6792,
        800: #064462,
        900: #032231,
    ),
    'blue': (
        50: #dff1fb,
        100: #bee3f7,
        200: #9cc6f0,
        300: #7aa9e9,
        400: #588be2,
        500: #366edb,
        600: #2b58af,
        700: #204283,
        800: #162c58,
        900: #0b162c,
    ),
    'indigo': (
        50: #ebedfc,
        100: #d7dbf9,
        200: #b6bbee,
        300: #959ce2,
        400: #747cd7,
        500: #535ccb,
        600: #424aa2,
        700: #32377a,
        800: #212551,
        900: #111229,
    ),
    'purple': (
        50: #f1e3f8,
        100: #e2c7f0,
        200: #cb95e4,
        300: #b364d9,
        400: #9c32cd,
        500: #8400c1,
        600: #6a009a,
        700: #4f0074,
        800: #35004d,
        900: #1a0027,
    ),
    'pink': (
        50: #fbe2fa,
        100: #f7c5f5,
        200: #f9a4db,
        300: #fb82c1,
        400: #fd61a6,
        500: #ff3f8c,
        600: #cc3270,
        700: #992654,
        800: #661938,
        900: #330d1c,
    ),
    'brown': (
        50: #f4e8db,
        100: #e9d1b6,
        200: #cca48f,
        300: #af7769,
        400: #924942,
        500: #751c1b,
        600: #5e1616,
        700: #461110,
        800: #2f0b0b,
        900: #170605,
    ),
);

:root {
    @each $color, $levels in $palette {
        @each $level, $value in $levels {
            #{'--vs-' + $color + '-' + $level}: #{$value};
        }
    }

    --vs-black: #000000;
    --vs-white: #ffffff;
    --vs-app-bg-color-light: #f8f8f8;
    --vs-app-bg-color-dark: #14151f;
}
