$red-50: #ffebee;
$red-100: #f7cdd2;
$red-200: #f3aeb7;
$red-300: #ee909c;
$red-400: #e97281;
$red-500: #e55366;
$red-600: #e0354b;
$red-700: #d82e37;
$red-800: #ca2828;
$red-900: #bd1b1b;

$amber-50: #fff6e6;
$amber-100: #ffecb3;
$amber-200: #ffe082;
$amber-300: #ffd54f;
$amber-400: #ffca28;
$amber-500: #ffb300;
$amber-600: #ffa001;
$amber-700: #fc8b29;
$amber-800: #fc7916;
$amber-900: #ff6f00;

$green-50: #e8f5e9;
$green-100: #c8e6c9;
$green-200: #a5d6ad;
$green-300: #81c798;
$green-400: #66bb6a;
$green-500: #4caf6a;
$green-600: #38a167;
$green-700: #388e59;
$green-800: #2e7d32;
$green-900: #1b5e20;

$blue-50: #e1f5fe;
$blue-100: #b8e6fc;
$blue-200: #9cdbf8;
$blue-300: #94d8ff;
$blue-400: #74c0ff;
$blue-500: #4eacf8;
$blue-600: #19a1f0;
$blue-700: #0288d1;
$blue-800: #0277bd;
$blue-900: #01579b;

$indigo-50: #eef1ff;
$indigo-100: #e6eaff;
$indigo-200: #d9dcff;
$indigo-300: #b6bcff;
$indigo-400: #8592e0;
$indigo-500: #6071cf;
$indigo-600: #4851aa;
$indigo-700: #374097;
$indigo-800: #283593;
$indigo-900: #1a237e;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #c7c6c6;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #5a5a5a;
$grey-800: #3f3f3f;
$grey-900: #1f1f1f;

$palette: (
    red: (
        50: $red-50,
        100: $red-100,
        200: $red-200,
        300: $red-300,
        400: $red-400,
        500: $red-500,
        600: $red-600,
        700: $red-700,
        800: $red-800,
        900: $red-900,
    ),
    amber: (
        50: $amber-50,
        100: $amber-100,
        200: $amber-200,
        300: $amber-300,
        400: $amber-400,
        500: $amber-500,
        600: $amber-600,
        700: $amber-700,
        800: $amber-800,
        900: $amber-900,
    ),
    green: (
        50: $green-50,
        100: $green-100,
        200: $green-200,
        300: $green-300,
        400: $green-400,
        500: $green-500,
        600: $green-600,
        700: $green-700,
        800: $green-800,
        900: $green-900,
    ),
    blue: (
        50: $blue-50,
        100: $blue-100,
        200: $blue-200,
        300: $blue-300,
        400: $blue-400,
        500: $blue-500,
        600: $blue-600,
        700: $blue-700,
        800: $blue-800,
        900: $blue-900,
    ),
    indigo: (
        50: $indigo-50,
        100: $indigo-100,
        200: $indigo-200,
        300: $indigo-300,
        400: $indigo-400,
        500: $indigo-500,
        600: $indigo-600,
        700: $indigo-700,
        800: $indigo-800,
        900: $indigo-900,
    ),
    grey: (
        50: $grey-50,
        100: $grey-100,
        200: $grey-200,
        300: $grey-300,
        400: $grey-400,
        500: $grey-500,
        600: $grey-600,
        700: $grey-700,
        800: $grey-800,
        900: $grey-900,
    ),
);

:root {
    @each $color, $levels in $palette {
        @each $level, $value in $levels {
            #{'--vs-' + $color + '-' + $level}: #{$value};
        }
    }
}
