@use 'palette' as *;

$box-glow: (
    'info': var(--vs-light-blue-100),
    'success': var(--vs-green-100),
    'error': var(--vs-red-100),
    'warning': var(--vs-orange-100),
);

$text-glow: (
    'info': var(--vs-light-blue-400),
    'success': var(--vs-green-400),
    'error': var(--vs-red-400),
    'warning': var(--vs-orange-400),
);

@each $state, $color in $box-glow {
    .vs-state-box-#{$state} {
        --vs-state-box-color: #{$color};
        outline: 3px solid var(--vs-state-box-color);
        outline-offset: 2px;
    }
}

@each $state, $color in $text-glow {
    .vs-text-glow-#{$state} {
        --vs-text-glow-color: #{$color};
        outline: 3px solid var(--vs-state-box-color);
        outline-offset: 2px;
    }
}
