$theme-light: (
    background-color: var(--vs-app-bg-color-light),
    font-color: var(--vs-gray-900),
    plain-backgroundColor: var(--vs-white),
    dimmed-backgroundColor: rgba(0, 0, 0, 0.45),
    area-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.16),
    area-hover-backgroundColor: var(--vs-gray-100),
    table-expand-box-shadow-up: inset 0 3px 8px rgba(100, 100, 100, 0.3),
    table-expand-box-shadow-down: inset 0 -2px 4px rgba(50, 50, 50, 0.15),
);

$theme-dark: (
    background-color: var(--vs-app-bg-color-dark),
    font-color: var(--vs-gray-50),
    plain-backgroundColor: #000000,
    dimmed-backgroundColor: rgba(0, 0, 0, 0.6),
    area-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.16),
    area-hover-backgroundColor: var(--vs-gray-700),
    table-expand-box-shadow-up: inset 0 3px 6px rgba(255, 255, 255, 0.2),
    table-expand-box-shadow-down: inset 0 -2px 4px rgba(255, 255, 255, 0.15),
);

:root {
    @each $key, $value in $theme-light {
        --vs-#{$key}: #{$value};
    }

    .vs-dark {
        @each $key, $value in $theme-dark {
            --vs-#{$key}: #{$value};
        }
    }
}
