$theme-light: (
    font-color: var(--grey-800),
    plain-backgroundColor: #ffffff,
    area-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.16),
    area-backgroundColor: #ffffff,
);

$theme-dark: (
    font-color: var(--grey-400),
    plain-backgroundColor: #000000,
    area-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.16),
    area-backgroundColor: #14151f,
);

:root {
    @each $key, $value in $theme-light {
        --vs-#{$key}: #{$value};
    }

    .vs-dark {
        @each $key, $value in $theme-dark {
            --vs-#{$key}: #{$value};
        }
    }
}
