$variables: (
    // font
    font-size-xs: 1.1rem,
    font-size-sm: 1.3rem,
    font-size: 1.5rem,
    font-size-lg: 1.7rem,
    font-size-xl: 1.9rem,

    // radius
    radius-xs: 0.2rem,
    radius-sm: 0.5rem,
    radius: 0.8rem,
    radius-lg: 1.2rem,
    radius-xl: 1.6rem,

    // responsive
    grid-xs: 12,
    width-xs: 100%,

    // modal
    modal-height-xs: 18%,
    modal-height-sm: 32%,
    modal-height-md: 44%,
    modal-height-lg: 64%,
    modal-height-xl: 82%,
    modal-width-xs: 16%,
    modal-width-sm: 24%,
    modal-width-md: 36%,
    modal-width-lg: 60%,
    modal-width-xl: 80%,

    // z-index
    bar-z-index: 100,
    app-bar-z-index: 1000,
    modal-z-index: 5000,
    toast-z-index: 9999,

    // input
    input-comp-height-dense: 2.8rem,
    input-comp-height: 3.2rem,
    input-comp-height-large: 4rem
);

$sizes: xs, sm, md, lg, xl;

:root {
    @each $key, $value in $variables {
        --vs-#{$key}: #{$value};
    }
}
