$variables: (
    drawer-z-index: 1000,
    drawer-width-xs: 18rem,
    drawer-width-sm: 22rem,
    drawer-width-md: 32rem,
    drawer-width-lg: 42rem,
    drawer-width-xl: 56rem,
    drawer-height-xs: 12rem,
    drawer-height-sm: 16rem,
    drawer-height-md: 22rem,
    drawer-height-lg: 28rem,
    drawer-height-xl: 36rem,
);

:root {
    @each $key, $value in $variables {
        --vs-#{$key}: #{$value};
    }
}
