$variables: (
    // modal
    modal-height-xs: 20%,
    modal-height-sm: 32%,
    modal-height-md: 44%,
    modal-height-lg: 64%,
    modal-height-xl: 82%,
    modal-width-xs: 16%,
    modal-width-sm: 24%,
    modal-width-md: 36%,
    modal-width-lg: 60%,
    modal-width-xl: 80%,
    grid-base: 12,
    width-base: 100%,

    // z-index
    bar-z-index: 100,
    app-bar-z-index: 1000,
    dialog-z-index: 5000,
    toast-z-index: 9999
);

:root {
    @each $key, $value in $variables {
        --vs-#{$key}: #{$value};
    }
}
