@use '@/styles/mixin' as *;

.vs-dialog {
    display: flex;
    flex-direction: column;
    background-color: var(--vs-dialog-node-backgroundColor, var(--vs-area-bg));
    color: var(--vs-dialog-node-contentFontColor, var(--vs-font-color));
    box-shadow: var(--vs-dialog-boxShadow, 0 0 6px 4px var(--vs-comp-shadow));
    border-radius: var(--vs-dialog-node-borderRadius, 0);
    width: var(--vs-dialog-node-width, auto);
    height: var(--vs-dialog-node-height, auto);
    font-size: var(--vs-dialog-node-contentFontSize, 1rem);

    .dialog-header,
    .dialog-body,
    .dialog-footer {
        padding: var(--vs-dialog-node-padding, 2rem);
    }

    .dialog-body {
        flex: 1;
        overflow: auto;

        &.hide-scroll {
            @include hide-scroll;
        }

        &.hide-scroll {
            @include hide-scroll;
        }
    }
}
