@mixin vs-divider-horizontal {
    width: 100%;
    height: 0;
    margin: 24px 0 24px 0;
    border-top: var(--vs-divider-lineWidth, 1px) var(--vs-divider-lineStyle, solid)
        var(--vs-divider-lineColor, var(--vs-line-color-primary));
    border-left: 0;
}

@mixin vs-divider-vertical {
    display: inline-block;
    width: 0;
    height: var(--vs-divider-verticalHeight, 2rem);
    margin: 0 1.2rem 0 1.2rem;
    border-top: 0;
    border-left: var(--vs-divider-lineWidth, 1px) var(--vs-divider-lineStyle, solid)
        var(--vs-divider-lineColor, var(--vs-line-color-primary));
}

.vs-divider {
    opacity: 0.5;

    &.horizontal {
        @include vs-divider-horizontal;
    }

    &.vertical {
        @include vs-divider-vertical;
    }
}

@media screen and (max-width: 768px) {
    .vs-divider.vertical.responsive {
        @include vs-divider-horizontal;
        margin: 0;
    }
}
