$divider-border: var(--vs-divider-border, 1px solid var(--vs-primary-comp-bg));

@mixin vs-divider-horizontal {
    width: 100%;
    height: 0;
    margin: var(--vs-divider-margin, 1.6rem 0);
    border-top: $divider-border;
    border-left: 0;
}

@mixin vs-divider-vertical {
    display: inline-block;
    width: 0;
    height: var(--vs-divider-verticalHeight, 100%);
    margin: var(--vs-divider-marginVertical, 0 1.2rem);
    border-top: 0;
    border-left: $divider-border;
    vertical-align: top;
}

.vs-divider {
    opacity: 0.5;

    &.vs-horizontal {
        @include vs-divider-horizontal;
    }

    &.vs-vertical {
        @include vs-divider-vertical;
    }
}

@container (max-width: 768px) {
    .vs-divider.vs-vertical.vs-divider-responsive {
        @include vs-divider-horizontal;
    }
}
