@use '@/styles/mixin' as *;
$fontWeight: var(--vs-tabs-fontWeight, 400);

.vs-tabs {
    display: flex;
    overflow-x: hidden;
    user-select: none;

    .tabs-container {
        overflow-x: auto;
        padding-bottom: 0.2rem;

        ul {
            align-items: center;
            display: inline-flex;
            list-style: none;
            flex-wrap: nowrap;

            &.bottomLine {
                border-bottom: 1px solid var(--vs-tabs-borderBottomColor, var(--vs-comp-border-color));
            }

            .tab {
                align-items: center;
                background: transparent;
                color: var(--vs-tabs-fontColor, var(--vs-comp-color));
                cursor: pointer;
                display: inline-flex;
                font-size: var(--vs-tabs-fontSize, 1rem);
                font-weight: $fontWeight;
                height: var(--vs-tabs-height, auto);
                justify-content: center;
                padding: var(--vs-tabs-padding, 0.2rem 1rem);
                text-align: center;
                transition: color 0.1s;
                width: var(--vs-tabs-tabWidth, auto);
                min-width: fit-content;

                &:not(:last-child) {
                    margin-right: var(--vs-tabs-gap, 0.3rem);
                }

                &:hover {
                    background-color: var(--vs-tabs-backgroundColor, var(--vs-light-backgroundColor));
                }

                &:focus {
                    outline: none;
                }

                &.primary {
                    border-bottom: 2px solid var(--vs-tabs-backgroundColor, var(--vs-comp-backgroundColor-primary));
                    font-weight: calc($fontWeight + 200);
                }

                &.disabled {
                    @include disabled;
                }
            }
        }
    }

    &.dense {
        .tab {
            padding: var(--vs-tabs-padding, 0.2rem);
        }
    }

    .scroll-button {
        width: 1rem;
        color: var(--vs-comp-color);

        &.scroll-left-button {
            margin-right: 0.5rem;
        }

        &.scroll-right-button {
            margin-left: 0.5rem;
        }

        &[disabled] {
            @include disabled;
        }
    }
}
