@use '@/styles/mixin' as *;

.vs-tabs {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;

    .vs-tabs-wrap {
        position: relative;
        display: flex;
        width: 100%;
        overflow: auto;
        padding-bottom: 0.4rem;

        .vs-tab-list {
            display: flex;
            flex: 1;
            align-items: center;
            flex-wrap: nowrap;
            list-style: none;

            &.vs-bottom-line {
                border-bottom: 1px solid var(--vs-tabs-borderBottomColor, var(--vs-primary-comp-bg));
            }

            .vs-tab-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                background: transparent;
                color: var(--vs-tabs-fontColor, var(--vs-font-color));
                border-bottom: 2px solid transparent;
                cursor: pointer;
                font-size: var(--vs-tabs-fontSize, var(--vs-font-size));
                font-weight: var(--vs-tabs-fontWeight, 400);
                height: var(--vs-tabs-height, auto);
                padding: var(--vs-tabs-padding, 0.8rem 1.6rem);
                text-align: center;
                transition: color 0.1s;
                width: var(--vs-tabs-tabWidth, auto);

                &:not(:last-child) {
                    margin-right: var(--vs-tabs-gap, 0.3rem);
                }

                &:hover {
                    background-color: var(--vs-tabs-backgroundColor, var(--vs-area-bg-hover));
                }

                &:focus {
                    outline: none;
                }

                &.vs-selected {
                    background-color: var(--vs-tabs-backgroundColor, var(--vs-area-bg-active));
                    border-bottom: 2px solid var(--vs-tabs-backgroundColor, var(--vs-primary-comp-bg));
                    text-shadow: 0 0 0.8px currentColor;
                }

                &.vs-disabled {
                    @include disabled;
                }
            }
        }
    }

    &.vs-dense {
        .vs-tabs-wrap .vs-tab-list .vs-tab-item {
            padding: var(--vs-tabs-padding, 0.4rem 1rem);
            font-size: var(--vs-tabs-fontSize, var(--vs-font-size-sm));
        }
    }

    .vs-scroll-button {
        width: 1rem;
        color: var(--vs-comp-font);

        &.vs-scroll-left-button {
            margin-right: 0.5rem;
        }

        &.vs-scroll-right-button {
            margin-left: 0.5rem;
        }

        &[disabled] {
            @include disabled;
        }
    }
}
