.vs-confirm-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 1;
    color: var(--vs-font-color);
    text-align: center;
}

.vs-confirm-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;

    .vs-ok-button {
        min-width: 9rem;
    }

    .vs-cancel-button {
        min-width: 9rem;
    }
}
