.vs-message {
    display: flex;
    align-items: center;
    color: var(--vs-primary-comp-bg);
    font-size: 0.9rem;

    .message-icon {
        position: relative;
        top: 0.05rem;
        margin-right: 0.3rem;
    }
}
