.vs-message {
    display: flex;
    align-items: center;
    color: var(--vs-line-color-primary);
    font-size: 0.8rem;

    .message-icon {
        position: relative;
        top: 0.05rem;
        margin-right: 0.3rem;
    }
}
