.vs-message {
    display: flex;
    align-items: center;
    color: var(--vs-primary-comp-bg);
    font-size: var(--vs-font-size-sm);
    white-space: nowrap;

    .vs-message-icon {
        position: relative;
        margin-right: 0.2rem;
    }

    &.vs-dense {
        font-size: var(--vs-font-size-xs);
    }
}
