.vs-image {
    position: relative;
    width: var(--vs-image-width);
    height: var(--vs-image-height);

    .vs-image-tag {
        position: relative;
        width: var(--vs-image-width);
        height: var(--vs-image-height);
        border: var(--vs-image-border, none);
        border-radius: var(--vs-image-borderRadius, 0);
        object-fit: var(--vs-image-objectFit, contain);

        &.vs-hidden {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

    .vs-alt-text {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--vs-font-color);
        font-size: var(--vs-font-size);
    }
}
