.vs-image {
    position: relative;

    img {
        width: var(--vs-image-width, 100%);
        height: var(--vs-image-height, 100%);
        border: var(--vs-image-border, none);
        border-radius: var(--vs-image-borderRadius, 0);
        object-fit: var(--vs-image-objectFit, contain);
    }

    .alt-text {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--vs-comp-font);
    }
}
