.vs-page {
    position: relative;
    padding: var(--vs-page-padding, 3rem 4rem);
    color: var(--vs-page-fontColor, var(--vs-comp-font));

    .page-header {
        margin: var(--vs-page-headerMargin, 0 0 2.4rem 0);

        .page-description {
            margin-top: 0.4rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .vs-page {
        padding: var(--vs-page-padding, 3rem 3.6rem);
    }
}

@media screen and (max-width: 992px) {
    .vs-page {
        padding: var(--vs-page-padding, 2.8rem 3.2rem);
    }
}

@media screen and (max-width: 768px) {
    .vs-page {
        padding: var(--vs-page-padding, 2.4rem 2.4rem);
    }
}

@media screen and (max-width: 576px) {
    .vs-page {
        padding: var(--vs-page-padding, 2rem 1.6rem);
    }
}
