@use '@/styles/mixin' as *;

.vs-textarea {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: var(--vs-textarea-height, 10rem);
    background-color: var(--vs-textarea-backgroundColor, var(--vs-no-color));
    color: var(--vs-textarea-fontColor, var(--vs-comp-font));
    font-size: var(--vs-textarea-fontSize, 1rem);
    border: var(--vs-textarea-border, solid 1px var(--vs-line-color));
    border-radius: var(--vs-textarea-borderRadius, 0.4rem);
    padding: 0.6rem;
    outline: none;
    resize: vertical;

    &.disabled {
        @include disabled;
    }

    &:focus-within {
        @include focus-shadow;
    }
}
