@use '@/styles/mixin' as *;

.vs-textarea {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: var(--vs-textarea-height, 10rem);
    background-color: var(--vs-textarea-backgroundColor, var(--vs-no-color));
    color: var(--vs-textarea-fontColor, var(--vs-font-color));
    font-size: var(--vs-textarea-fontSize, var(--vs-font-size));
    border: var(--vs-textarea-border, solid 1px var(--vs-line-color));
    border-radius: var(--vs-textarea-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
    padding: var(--vs-textarea-padding, 0.6rem 1.2rem);
    resize: var(--vs-textarea-resize, vertical);

    &.vs-dense {
        font-size: var(--vs-textarea-fontSize, var(--vs-font-size-sm));
    }
    &.vs-disabled {
        @include disabled;
    }

    &.vs-readonly {
        @include readonly;
    }

    &.vs-state-box {
        @include state-box;
    }

    &:focus-within {
        @include focus-outline;
    }
}
