@use '@/styles/mixin' as *;

.vs-name-input {
    .clear-btn {
        opacity: 0;
        transform: translate(0, -50%);
        transition: opacity 0.4s;
    }

    &:hover {
        .clear-btn {
            opacity: 1;
        }
    }

}
