@use '@/styles/mixin' as *;

.vs-table .vs-table-wrap {
    width: 100%;
    overflow-x: auto;

    .vs-table-table {
        min-width: 100%;
        border-spacing: 0 !important;
        margin-bottom: 0.6rem;

        .vs-table-caption {
            caption-side: var(--vs-table-captionSide, bottom);
            text-align: var(--vs-table-captionTextAlign, center);
            padding: 1rem 0;
            color: var(--vs-table-captionFontColor, var(--vs-font-color));
            font-size: var(--vs-table-captionFontSize, var(--vs-font-size-sm));
            font-weight: var(--vs-table-captionFontWeight);
        }

        .vs-table-tr {
            display: grid;
            justify-content: flex-start;
            overflow: hidden;

            th,
            td {
                display: flex;
                align-items: center;
                padding: 0.1rem 0.6rem;
                text-align: left;

                .vs-table-data {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    overflow-x: auto;
                }
            }
        }

        .vs-table-thead .vs-table-tr {
            background-color: var(--vs-table-headerBackgroundColor, var(--vs-area-bg-active));
            border: var(--vs-table-headerBorder, 1px solid var(--vs-line-color));

            &.search {
                position: relative;
                width: 100%;
                display: flex;
                border-bottom: none;

                th {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0.6rem 1rem 0.6rem 1rem;
                    .vs-table-search-icon {
                        color: var(--vs-primary-comp-bg);
                        margin-right: 0.8rem;
                        flex-shrink: 0;
                    }
                    .vs-table-search-input {
                        font-weight: 400;
                        flex-grow: 1;
                    }
                }
            }

            th {
                color: var(--vs-table-headerFontColor, var(--vs-font-color));
                font-size: var(--vs-table-headerFontSize, var(--vs-font-size));
                font-weight: var(--vs-table-headerFontWeight, 500);
                min-height: var(--vs-table-headerMinHeight, 3.2rem);

                &.vs-draggable-th,
                &.vs-expandable-th {
                    visibility: hidden;
                }

                &.vs-selectable-th {
                    color: transparent;
                }

                &.vs-table-th:first-of-type {
                    padding-left: 2rem;
                }
            }
        }

        .vs-table-tbody .vs-table-tr {
            position: relative;
            transition: background-color 0.2s;
            background-color: var(--vs-table-bodyBackgroundColor, transparent);
            border-bottom: var(--vs-table-bodyBorder, 1px solid var(--vs-line-color));
            color: var(--vs-table-bodyFontColor, var(--vs-font-color));

            &.selected {
                background-color: var(--vs-table-selectedBackgroundColor, var(--vs-area-bg-hover));
                color: var(--vs-table-selectedFontColor, var(--vs-font-color));
            }

            td {
                min-height: var(--vs-table-bodyMinHeight, 3.2rem);
                font-size: var(--vs-table-bodyFontSize, var(--vs-font-size));
                font-weight: var(--vs-table-bodyFontWeight, 400);

                &.draggable-td {
                    padding-right: 0;
                }

                &.table-td:first-of-type {
                    padding-left: 2rem;
                }

                &.vs-expandable-td {
                    padding-left: 0;

                    > button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: calc(var(--vs-radius-ratio) * 0.2rem);
                        border: var(--vs-table-bodyBorder, 1px solid var(--vs-line-color));
                        background-color: var(--vs-table-headerBackgroundColor, var(--vs-area-bg-active));

                        i {
                            color: var(--vs-table-headerFontColor, var(--vs-font-color));
                            pointer-events: none;
                            transform: rotate(180deg);
                            transition: transform 0.4s;
                        }

                        &.expanded {
                            i {
                                transform: rotate(0deg);
                            }
                        }

                        &:hover {
                            box-shadow: 0 0 4px var(--vs-comp-shadow);
                        }

                        &:disabled {
                            @include disabled;
                        }
                    }
                }

                &.vs-expanded-row-content {
                    display: grid;
                    grid-column: 1/-1;
                    padding: 1.2rem 1.4rem;
                    border-top: 1px dotted var(--vs-line-color);
                    border-left: 1px dotted var(--vs-line-color);
                    border-right: 1px dotted var(--vs-line-color);
                    font-size: var(--vs-font-size);
                    box-shadow:
                        inset 0 3px 8px rgba(100, 100, 100, 0.3),
                        inset 0 -2px 4px rgba(50, 50, 50, 0.15);

                    .vs-dark {
                        box-shadow:
                            inset 0 3px 6px rgba(255, 255, 255, 0.2),
                            inset 0 -2px 4px rgba(255, 255, 255, 0.15);
                    }
                }

                .vs-skeleton {
                    width: 95%;
                    height: 60%;
                    border-radius: calc(var(--vs-radius-ratio) * 0.3rem);
                    background-color: var(--vs-gray-light);
                    animation: skeleton-loading 0.6s infinite alternate;
                }
            }
        }

        .vs-table-tbody .vs-table-tr:not(.vs-skeleton) td.draggable-td {
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }

        .vs-table-tbody .vs-table-tr:not(.vs-skeleton):hover::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: var(--vs-table-hoverBorder, 1px solid var(--vs-line-color));
            pointer-events: none;
        }

        .vs-table-empty {
            border-bottom: 1px solid var(--vs-line-color);
            padding: 2.2rem 0;
            text-align: center;
            opacity: 0.3;

            p {
                padding-top: 0.2rem;
                font-weight: 600;
                font-size: var(--vs-font-size-lg);
            }
        }
    }
}

.table-pagination {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.6rem;

    .vs-pagination-options {
        margin-left: 2rem;
    }
}

.vs-table.dense .vs-table-wrap .vs-table-table {
    .vs-table-thead .vs-table-tr {
        th {
            min-height: 2.4rem;
            font-size: var(--vs-table-headerFontSize, var(--vs-font-size-sm));
        }
    }

    .vs-table-tbody .vs-table-tr {
        td {
            min-height: 2.4rem;
            font-size: var(--vs-table-bodyFontSize, var(--vs-font-size-sm));
        }
    }
}

@media screen and (max-width: 576px) {
    .vs-table.responsive .vs-table-wrap {
        margin-bottom: 2rem;

        .vs-table-table .vs-table-thead .vs-table-tr {
            grid-template-columns: none !important;
            th:not(:first-child) {
                display: none;
            }
            th:first-child {
                color: transparent;
                height: 2.2rem;
                padding-left: 1rem;
            }
            margin-bottom: 0.4rem;
            border: var(--vs-table-headerBorder, 1px solid var(--vs-line-color));
        }

        .vs-table-table {
            display: flex;
            flex-direction: column;
        }

        .vs-table-table .vs-table-tbody .vs-table-tr {
            display: flex !important;
            flex-direction: column;
            margin: 0.4rem 0 0 0;
            border: var(--vs-table-bodyBorder, 1px solid var(--vs-line-color));

            &:first-of-type {
                margin-top: 0;
                padding-left: 0;
            }

            td {
                display: flex;
                justify-content: space-between;
                padding: 0.4rem 1rem !important;
                border: var(--vs-table-bodyBorder, 1px dotted var(--vs-line-color));
                overflow-x: auto;

                &.selectable-td {
                    &:before {
                        display: none;
                    }

                    justify-content: flex-start;
                }

                .vs-table-data {
                    justify-content: flex-end;
                }

                &:before {
                    content: attr(data-label);
                    color: var(--vs-table-headerFontColor, var(--vs-font-color));
                    display: block;
                    margin-right: 2rem;
                    font-size: var(--vs-font-size);
                    font-weight: 700;
                }

                &:first-child {
                    border-top: none;
                }

                &.vs-expandable-td,
                &.vs-expanded-row-content {
                    min-height: auto;
                    &::before {
                        display: none;
                    }
                }
                &.vs-expanded-row-content {
                    border: none;
                    box-shadow: none;
                }

                &.vs-expandable-td {
                    padding: 0.4rem;
                    button {
                        flex: 1;
                    }
                }

                &.vs-expanded-row-content {
                    display: flex !important;
                    padding-top: 0.5rem;
                    padding-bottom: 1.2rem;

                    .vs-expand-contents {
                        flex: 1;
                    }
                }

                .vs-skeleton {
                    height: 2.8rem;
                }
            }
        }

        .vs-table-empty {
            border-top: var(--vs-table-bodyBorder, 1px solid var(--vs-line-color));
        }
    }
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.4;
    }
}
