@use '@/styles/mixin' as *;

$tableBorder: var(--vs-table-border, 1px solid var(--vs-line-color));

.vs-table .vs-table-wrap {
    width: 100%;
    overflow-x: auto;

    .vs-table-table {
        min-width: 100%;
        border-spacing: 0 !important;

        .vs-table-caption {
            caption-side: var(--vs-table-captionSide, bottom);
            text-align: var(--vs-table-captionTextAlign, center);
            padding: var(--vs-table-captionPadding, 0.8rem 0);
            color: var(--vs-table-captionFontColor, var(--vs-font-color));
            font-size: var(--vs-table-captionFontSize, var(--vs-font-size-sm));
            font-weight: var(--vs-table-captionFontWeight);
        }

        .vs-table-tr {
            display: grid;
            justify-content: flex-start;
            overflow: hidden;

            .vs-table-th,
            .vs-table-td {
                display: flex;
                align-items: center;
                text-align: left;
            }
        }

        .vs-table-thead .vs-table-tr {
            background-color: var(--vs-table-headerBackgroundColor, var(--vs-comp-bg));
            border: var(--vs-table-headerBorder, 1px solid var(--vs-line-color));

            &.vs-search {
                position: relative;
                width: 100%;
                display: flex;
                border-bottom: none;

                .vs-table-th {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0.7rem 1rem 0.7rem 1rem;
                    .vs-table-search-icon {
                        color: var(--vs-primary-comp-bg);
                        margin-right: 0.8rem;
                        flex-shrink: 0;
                    }
                    .vs-table-search-input {
                        font-weight: 400;
                        flex-grow: 1;
                    }
                }
            }

            .vs-table-th {
                color: var(--vs-table-headerFontColor, var(--vs-font-color));
                font-size: var(--vs-table-headerFontSize, var(--vs-font-size));
                font-weight: var(--vs-table-headerFontWeight, 500);
                min-height: var(--vs-table-headerHeight, 3.6rem);
                overflow-x: auto;
                padding: 0.8rem 1.4rem;

                &.vs-table-draggable-th,
                &.vs-table-expandable-th {
                    visibility: hidden;
                }

                &.vs-table-selectable-th {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: transparent;
                    padding: 0;
                    padding-left: 0.8rem;
                }
            }
        }

        .vs-table-tbody .vs-table-tr {
            position: relative;
            transition: background-color 0.2s;
            background-color: var(--vs-table-backgroundColor, transparent);
            border-bottom: $tableBorder;
            color: var(--vs-table-fontColor, var(--vs-font-color));

            &.vs-selected {
                background-color: var(--vs-table-selectedBackgroundColor, var(--vs-blue-light));
                color: var(--vs-table-selectedFontColor, var(--vs-blue-deep));
            }

            .vs-table-td {
                min-height: var(--vs-table-rowHeight, 4rem);
                font-size: var(--vs-table-fontSize, var(--vs-font-size));
                font-weight: var(--vs-table-fontWeight, 400);
                padding: 0.8rem 1.4rem;
                overflow-x: auto;

                &.vs-table-selectable-td {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    padding-left: 0.8rem;
                }

                &.vs-table-draggable-td {
                    padding-right: 0;
                }

                &.vs-table-expandable-td {
                    padding: 0;

                    > .vs-table-expand-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2.4rem;
                        height: 2.4rem;
                        border-radius: calc(var(--vs-radius-ratio) * var(--vs-radius-xs));
                        border: $tableBorder;
                        background-color: var(--vs-table-headerBackgroundColor, var(--vs-area-bg-active));

                        i {
                            color: var(--vs-table-headerFontColor, var(--vs-font-color));
                            pointer-events: none;
                            transform: rotate(180deg);
                            transition: transform 0.4s;
                        }

                        &.vs-expanded {
                            i {
                                transform: rotate(0deg);
                            }
                        }

                        &:hover {
                            box-shadow: 0 0 4px var(--vs-comp-shadow);
                        }

                        &:disabled {
                            @include disabled;
                        }
                    }
                }

                &.vs-table-expanded-row-content {
                    display: grid;
                    grid-column: 1/-1;
                    padding: 1.2rem 1.4rem;
                    border-top: 1px dotted var(--vs-line-color);
                    border-left: 1px dotted var(--vs-line-color);
                    border-right: 1px dotted var(--vs-line-color);
                    font-size: var(--vs-font-size);
                    box-shadow: inset 0 3px 8px rgba(100, 100, 100, 0.3), inset 0 -2px 4px rgba(50, 50, 50, 0.15);
                }

                .vs-table-data {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .vs-table-tbody .vs-table-tr:not(.vs-table-row-loading) .vs-table-td.vs-table-draggable-td {
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }

        .vs-table-tbody .vs-table-tr:not(.vs-table-row-loading):hover::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: var(--vs-table-hoverBorder, 1px solid var(--vs-line-color));
            pointer-events: none;
        }

        .vs-table-empty {
            border-bottom: 1px solid var(--vs-line-color);
            padding: 2.2rem 0;
            text-align: center;
            opacity: 0.3;

            p {
                padding-top: 0.2rem;
                font-weight: 600;
                font-size: var(--vs-font-size-lg);
            }
        }
    }
}

.vs-table-pagination {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

    .vs-table-pagination-options {
        margin-left: 2rem;
    }
}

.vs-table.vs-dense .vs-table-wrap .vs-table-table {
    .vs-table-thead .vs-table-tr {
        .vs-table-th {
            min-height: 2.4rem;
            font-size: var(--vs-table-headerFontSize, var(--vs-font-size-sm));
        }
    }

    .vs-table-tbody .vs-table-tr {
        .vs-table-td {
            min-height: 2.4rem;
            font-size: var(--vs-table-fontSize, var(--vs-font-size-sm));

            &.vs-table-expandable-td {
                padding-left: 0;

                .vs-table-expand-button {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
}

@container (max-width: 640px) {
    .vs-table.vs-responsive .vs-table-wrap {
        .vs-table-table .vs-table-thead .vs-table-tr {
            grid-template-columns: none !important;
            margin-bottom: 0.4rem;
            border: var(--vs-table-headerBorder, 1px solid var(--vs-line-color));

            .vs-table-th:not(:first-child) {
                display: none;
            }
            .vs-table-th:first-child {
                color: transparent;
                height: 2.2rem;
                padding-left: 1rem;
                overflow: hidden;
            }
        }

        .vs-table-table {
            display: flex;
            flex-direction: column;
        }

        .vs-table-table .vs-table-tbody .vs-table-tr {
            display: flex !important;
            flex-direction: column;
            margin: 0.4rem 0 0 0;
            border: $tableBorder;

            &:first-of-type {
                margin-top: 0;
                padding-left: 0;
            }

            .vs-table-td {
                display: flex;
                justify-content: space-between;
                padding: 0.4rem 1rem;
                border-bottom: var(--vs-table-border, 1px dashed var(--vs-line-color));
                overflow-x: auto;

                &.vs-table-selectable-td {
                    justify-content: flex-start;

                    &:before {
                        display: none;
                    }
                }

                .vs-table-data {
                    justify-content: flex-end;
                }

                &:before {
                    content: attr(data-label);
                    color: var(--vs-table-headerFontColor, var(--vs-font-color));
                    display: block;
                    margin-right: 2rem;
                    font-size: var(--vs-font-size);
                    font-weight: 700;
                }

                &:first-child {
                    border-top: none;
                }

                &:last-child {
                    border-bottom: none;
                }

                &.vs-table-expandable-td,
                &.vs-table-expanded-row-content {
                    min-height: auto;
                    &::before {
                        display: none;
                    }
                }
                &.vs-table-expanded-row-content {
                    border: none;
                    box-shadow: none;
                }

                &.vs-table-expandable-td {
                    padding: 0.4rem;
                    .vs-table-expand-button {
                        flex: 1;
                    }
                }

                &.vs-table-expanded-row-content {
                    display: flex !important;
                    padding-top: 0.5rem;
                    padding-bottom: 1.2rem;

                    .vs-table-expand-contents {
                        flex: 1;
                    }
                }

                .vs-table-skeleton {
                    min-height: 2.4rem;
                }
            }
        }

        .vs-table-empty {
            border-top: $tableBorder;
        }
    }
}
.vs-dark {
    .vs-table .vs-table-wrap .vs-table-table .vs-table-tbody .vs-table-tr .vs-table-td.vs-table-expanded-row-content {
        box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.2), inset 0 -2px 4px rgba(255, 255, 255, 0.15);
    }
}
