.vs-table .table-wrap {
    width: 100%;
    overflow-x: auto;

    table {
        // tr {
        //     display: grid;
        //     justify-content: flex-start;
        //     overflow: hidden;

        //     th,
        //     td {
        //         display: flex;
        //         align-items: center;
        //         padding: 0.4rem 1.2rem;
        //         text-align: left;

        //         .table-data {
        //             display: flex;
        //             align-items: center;
        //             width: 100%;
        //             height: 100%;
        //         }
        //     }
        // }

        thead {
            tr {
                background-color: var(--vs-comp-backgroundColor);

                th {
                    color: var(--vs-comp-color);
                    height: 3.6rem;
                    font-size: 1.2rem;
                    font-weight: 700;

                    &.selectable-th {
                        padding-right: 0;
                    }
                    &.table-th:first-of-type {
                        padding-left: 2rem;
                    }
                    &.table-th.sortable {
                        cursor: pointer;
                        &:hover {
                            .sort-icon {
                                opacity: 1;
                            }
                        }
                        .sort-icon {
                            display: flex;
                            opacity: 0;
                            transition: opacity 0.5s ease;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                position: relative;
                transition: background-color 0.2s;
                border-bottom: 1px solid var(--grey-500);
                color: var(--vs-comp-color);
                background-color: var(--light-bg);

                td {
                    position: relative;
                    min-height: 4.8rem;
                    font-size: 1.3rem;

                    &.draggable-head {
                        padding-right: 0;
                        cursor: grabbing;
                    }
                    &.selectable-checkbox {
                        padding-right: 0;
                    }
                    &.table-td:first-of-type {
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
}
