@use '@/styles/variables' as *;
@use '@/styles/mixin' as *;

.vs-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--vs-modal-zIndex, var(--vs-modal-z-index));
    pointer-events: none;

    &.has-container {
        position: absolute;
    }

    &.dimmed {
        pointer-events: auto;
    }

    .vs-modal-dimmed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: var(--vs-dimmed-background-color);
    }

    .vs-modal-wrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        min-width: var(--vs-modal-width-xs);
        min-height: var(--vs-modal-height-xs);
        width: 100%;
        height: 100%;
        max-width: var(--vs-modal-width);
        max-height: var(--vs-modal-height);
        top: 50%;
        left: 50%;
        background-color: var(--vs-drawer-backgroundColor, var(--vs-area-bg));
        color: var(--vs-drawer-fontColor, var(--vs-font-color));
        box-shadow: var(--vs-drawer-boxShadow, var(--vs-area-shadow-outer));
        transform: translate(-50%, -50%);
        border-radius: var(--vs-modal-borderRadius, calc(var(--vs-radius-ratio) * 0.6rem));
        padding: var(--vs-modal-padding, 2rem);
        pointer-events: auto;

        // size
        @each $size in $sizes {
            &.#{$size} {
                width: var(--vs-modal-width-#{$size});
                height: var(--vs-modal-height-#{$size});
            }
        }

        .vs-modal-header {
            position: relative;
            padding-bottom: 1.6rem;
        }

        .vs-modal-footer {
            position: relative;
            padding-top: 1.6rem;
        }

        .vs-modal-body {
            position: relative;
            flex: auto;
            overflow: auto;
            padding: 0.5rem;

            &.hide-scroll {
                @include hide-scroll;
            }
        }
    }
}

.modal-enter-active .vs-modal-dimmed,
.modal-leave-active .vs-modal-dimmed,
.modal-enter-active .vs-modal-wrap,
.modal-leave-active .vs-modal-wrap {
    transition: all 0.2s;
}

.modal-enter-from .vs-modal-dimmed,
.modal-leave-to .vs-modal-dimmed {
    opacity: 0;
}

.modal-enter-from .vs-modal-wrap,
.modal-leave-to .vs-modal-wrap {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
}
