.vs-modal-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.vs-modal-fixed {
        position: fixed;
    }
}

.modal-enter-active .vs-modal-dimmed,
.modal-leave-active .vs-modal-dimmed,
.modal-enter-active .vs-modal-wrap,
.modal-leave-active .vs-modal-wrap {
    transition: all 0.2s;
}

.modal-enter-from .vs-modal-dimmed,
.modal-leave-to .vs-modal-dimmed {
    opacity: 0;
}

.modal-enter-from .vs-modal-wrap,
.modal-leave-to .vs-modal-wrap {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
}
