.vs-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    max-height: var(--vs-button-maxHeight, 3rem);
    padding: var(--vs-button-padding, 0.4rem 1.2rem);
    border: none;
    border-radius: var(--vs-button-borderRadius, 0.4rem);
    cursor: pointer;
    font-size: var(--vs-button-fontSize, 1rem);
    font-weight: var(--vs-button-fontWeight, 400);
    background-color: var(--vs-button-backgroundColor, var(--vs-comp-bg));
    color: var(--vs-button-fontColor, var(--vs-font-color-default));
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: var(--vs-button-hoverBackgroundColor, var(--vs-comp-bg-hover));
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 120%;
        height: 100%;
        background: #ffffff;
        transition: all 0.4s ease-out;
        pointer-events: none;
    }

    &:active {
        background-color: var(--vs-button-activeBackgroundColor, var(--vs-comp-bg-active));
    }

    &:active:after {
        opacity: 0.6;
        width: 0%;
        transition: 0s;
    }

    &[disabled] {
        opacity: 0.45;
        pointer-events: none;
    }

    &:focus-visible {
        box-shadow: 0 0 0.6rem 0 var(--vs-comp-bg-active);
    }
}

// primary {
.vs-button {
    &.primary {
        background-color: var(--vs-button-backgroundColor, var(--vs-comp-backgroundColor-primary));
        color: var(--vs-button-fontColor, var(--vs-comp-color-primary));
    }
}

// size
.vs-button {
    &.dense {
        padding: var(--vs-button-padding, 0.2rem 0.8rem);
        border-radius: var(--vs-button-borderRadius, 0.4rem);
        font-size: var(--vs-button-fontSize, 1rem);
        max-height: var(--vs-button-maxHeight, 2.4rem);
    }

    &.large {
        padding: var(--vs-button-padding, 0.6rem 1.4rem);
        border-radius: var(--vs-button-borderRadius, 0.6rem);
        font-size: var(--vs-button-fontSize, 1.2rem);
        max-height: var(--vs-button-maxHeight, 3.7rem);
    }
}

// outline
.vs-button {
    &.outline {
        background: none;
        border: var(--vs-button-outlineBorder, 1px solid var(--vs-comp-border-color));
        color: var(--vs-button-fontColor, var(--vs-comp-border-color));
        font-weight: var(--vs-button-fontWeight, 500);

        &:after {
            background: var(--gray-200);
        }
    }
}

// loading
.vs-button {
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &.loading {
        pointer-events: none;

        .loading-icon {
            animation: rotate 2s linear infinite;
        }
    }
}

@media screen and (max-width: 768px) {
    .vs-button.mobile-full {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .vs-button.mobile-full + .vs-button.mobile-full {
        margin-top: 0.3rem;
    }
}
