@use '@/styles/mixin' as *;

.vs-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: var(--vs-button-width, auto);
    height: var(--vs-button-height, 3rem);
    padding: var(--vs-button-padding, 0.6rem 1.5rem);
    border: var(--vs-button-border, 1px solid var(--vs-line-color));
    border-radius: var(--vs-button-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
    cursor: pointer;
    font-size: var(--vs-button-fontSize, var(--vs-font-size));
    font-weight: var(--vs-button-fontWeight, 500);
    background-color: var(--vs-button-backgroundColor, var(--vs-comp-bg));
    color: var(--vs-button-fontColor, var(--vs-comp-font));
    overflow: hidden;
    box-sizing: border-box;

    .content {
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: var(--vs-button-hoverBackgroundColor, var(--vs-comp-bg-hover));
    }

    &:active {
        background-color: var(--vs-button-activeBackgroundColor, var(--vs-comp-bg-active));
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 120%;
        height: 100%;
        background: var(--vs-white);
        transition: all 0.4s ease-out;
        pointer-events: none;
    }

    &:active:after {
        opacity: 0.6;
        width: 0%;
        transition: 0s;
    }

    &[disabled] {
        @include disabled;
    }

    &.vs-state-box {
        @include state-box;
    }

    &:focus-visible {
        @include focus-outline;
    }
}

// primary {
.vs-button {
    &.primary {
        background-color: var(--vs-button-backgroundColor, var(--vs-primary-comp-bg));
        color: var(--vs-button-fontColor, var(--vs-primary-comp-font));
        border: var(--vs-button-border, 1px solid var(--vs-primary-comp-bg));

        &:hover {
            background-color: var(--vs-button-hoverBackgroundColor, var(--vs-primary-comp-bg-hover));
        }

        &:active {
            background-color: var(--vs-button-activeBackgroundColor, var(--vs-primary-comp-bg-active));
        }
    }
}

// size
.vs-button {
    &.dense {
        padding: var(--vs-button-padding, 0.2rem 1.2rem);
        border-radius: var(--vs-button-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius-sm)));
        font-size: var(--vs-button-fontSize, var(--vs-font-size-sm));
        height: var(--vs-button-height, 2.4rem);
    }

    &.large {
        padding: var(--vs-button-padding, 0.6rem 2rem);
        border-radius: var(--vs-button-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius-lg)));
        font-size: var(--vs-button-fontSize, var(--vs-font-size-xl));
        height: var(--vs-button-height, 3.5rem);
    }
}

// outline
.vs-button {
    &.outline {
        background: none;
        border: var(--vs-button-border, 1px solid var(--vs-primary-comp-bg));
        color: var(--vs-button-fontColor, var(--vs-primary-comp-bg));

        &:hover {
            background-color: var(--vs-button-hoverBackgroundColor, var(--vs-area-bg-hover));
        }

        &:active {
            background-color: var(--vs-button-activeBackgroundColor, var(--vs-area-bg-active));
        }
    }
}

// loading
.vs-button {
    .content {
        visibility: visible;
    }

    .loading-icon {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        font-size: 0;
    }

    &.loading {
        pointer-events: none;

        .content {
            visibility: hidden;
        }

        .loading-icon {
            visibility: visible;

            .rotate {
                animation: rotate 2s linear infinite;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@container (max-width: 768px) {
    .vs-button.responsive {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .vs-button.responsive + .vs-button.responsive {
        margin-top: 0.4rem;
    }
}
