$blockBorder: var(--vs-block-border, 1px solid var(--vs-line-color));

.vs-block {
    position: relative;
    width: 100%;
    overflow: auto;
    border: $blockBorder;
    color: var(--vs-block-fontColor, var(--vs-font-color));
    background-color: var(--vs-block-backgroundColor, var(--vs-area-bg));
    border-radius: var(--vs-block-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));

    .vs-block-header {
        position: relative;
        width: 100%;
        background-color: var(--vs-block-titleBackgroundColor, var(--vs-comp-bg));
        border-bottom: $blockBorder;
        color: var(--vs-block-titleColor, var(--vs-comp-font));
        font-size: var(--vs-block-titleFontSize, var(--vs-font-size-lg));
        font-weight: var(--vs-block-titleFontWeight, 500);
        padding: var(--vs-block-headerPadding, 1rem 1.8rem);
    }

    .vs-block-content {
        position: relative;
        width: 100%;
        font-weight: var(--vs-block-fontWeight, 400);
        padding: var(--vs-block-padding, 1rem 1.8rem);
    }
}

@media screen and (max-width: 992px) {
    .vs-block {
        .vs-block-header {
            padding: 0.8rem 1.6rem;
        }
        .vs-block-content {
            padding: 1.4rem 1.6rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .vs-block {
        .vs-block-header {
            padding: 0.8rem 1.2rem;
        }
        .vs-block-content {
            padding: 1.2rem 1.2rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .vs-block {
        .vs-block-header {
            padding: 0.8rem 0.8rem;
        }
        .vs-block-content {
            padding: 1rem 0.8rem;
        }
    }
}
