.vs-value-tag {
    display: flex;
    align-items: center;
    padding: var(--vs-value-tag-padding, 0.12rem);
    border-radius: var(--vs-value-tag-borderRadius, 0.2rem);
    font-size: var(--vs-value-tag-fontSize, 1.2rem);
    font-weight: var(--vs-value-tag-fontWeight, 400);
    width: var(--vs-value-tag-width, 100%);
    line-height: var(--vs-value-tag-lineHeight, 2.2rem);
    background-color: var(--vs-value-tag-backgroundColor, var(--vs-comp-bg));

    .label {
        padding: 0 1.2rem 0 0.8rem;
        color: var(--vs-value-tag-fontColor, var(--vs-font-color));
        width: var(--vs-value-tag-labelWidth, '100%');
    }

    .value {
        flex: 1;
        padding: 0 0.8rem;
        background-color: var(--vs-no-color);
        color: var(--vs-font-color);
    }
}

// Primary {
.vs-value-tag {
    &.primary {
        background-color: var(--vs-value-tag-backgroundColor, var(--vs-comp-bg-primary));

        .label {
            color: var(--vs-value-tag-fontColor, var(--vs-font-color-primary));
        }
    }
}
