.vs-value-tag {
    display: flex;
    align-items: center;
    border: 1px solid var(--vs-line-color);
    border-radius: var(--vs-value-tag-borderRadius, 0.2rem);
    font-size: var(--vs-value-tag-fontSize, 1rem);
    font-weight: var(--vs-value-tag-fontWeight, 400);
    width: var(--vs-value-tag-width, 100%);
    line-height: var(--vs-value-tag-lineHeight, 2.2rem);

    .label {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 1.2rem 0 0.8rem;
        background-color: var(--vs-value-tag-backgroundColor, var(--vs-comp-bg));
        color: var(--vs-value-tag-fontColor, var(--vs-comp-font));
        border-right: 1px solid var(--vs-line-color);
        width: var(--vs-value-tag-labelWidth, '100%');
    }

    .value {
        flex: 1;
        padding: 0 0.8rem;
        background-color: var(--vs-no-color);
        color: var(--vs-comp-font);
    }
}

// Primary {
.vs-value-tag {
    &.primary {
        border: 1px solid var(--vs-primary-comp-bg);

        .label {
            background-color: var(--vs-value-tag-backgroundColor, var(--vs-primary-comp-bg));
            color: var(--vs-value-tag-fontColor, var(--vs-primary-comp-font));
            border-right: 1px solid var(--vs-primary-comp-bg);
        }
    }
}
