.vs-bar-node {
    background-color: var(--vs-bar-node-backgroundColor, var(--vs-comp-bg));
    bottom: var(--vs-bar-node-bottom, auto);
    box-shadow: var(--vs-bar-node-boxShadow, none);
    color: var(--vs-bar-node-fontColor, var(--vs-comp-bg));
    display: var(--vs-bar-node-display, flex);
    flex: var(--vs-bar-node-flex, 1 1 auto);
    height: var(--vs-bar-node-height, auto);
    left: var(--vs-bar-node-left, auto);
    padding: var(--vs-bar-node-padding);
    position: var(--vs-bar-node-position, static);
    right: var(--vs-bar-node-right, auto);
    top: var(--vs-bar-node-top, auto);
    width: var(--vs-bar-node-width, 100%);
    z-index: var(--vs-bar-node-zIndex, auto);

    &.primary {
        background-color: var(--vs-bar-node-backgroundColor, var(--vs-comp-bg-primary));
        color: var(--vs-bar-node-fontColor, var(--vs-comp-bg-primary));
    }
}
