.vs-chip {
    button {
        all: unset;
    }

    align-items: center;
    background-color: var(--vs-chip-backgroundColor, var(--vs-comp-bg));
    border: var(--vs-chip-outlineBorder, 1px solid var(--vs-line-color));
    border-radius: var(--vs-chip-borderRadius, 1.3rem);
    color: var(--vs-chip-fontColor, var(--vs-font-color));
    display: inline-flex;
    font-size: var(--vs-chip-fontSize, 1rem);
    font-weight: var(--vs-button-fontWeight, 400);
    height: var(--vs-chip-height, 1.2rem);
    justify-content: center;
    min-height: var(--vs-chip-minHeight, 1.4rem);
    padding: var(--vs-chip-padding, 0.2rem 0.6rem);
    position: relative;
    overflow: hidden;

    &:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: all 0.4s ease-out;
        width: 120%;
    }

    .icon-container {
        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
    }

    .close-button {
        background-color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        height: calc(var(--vs-chip-height, 1.2rem) * 0.8);
        width: calc(var(--vs-chip-height, 1.2rem) * 0.8);

        &.primary {
            background-color: var(--vs-no-color);
        }
    }

    .vs-chip-content {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        padding: 0 0.3rem;
        white-space: nowrap;
    }

    &.noRound {
        border-radius: 0.25rem;
        .chip-icon {
            border-radius: 0.25rem;
        }
    }

    &.clickable {
        cursor: pointer;

        &:active:after {
            opacity: 0.6;
            transition: 0s;
            width: 0%;
        }
    }

    &.primary {
        background-color: var(--vs-chip-backgroundColor, var(--vs-comp-bg-primary));
        color: var(--vs-chip-fontColor, var(--vs-font-color-primary));
    }
}
