$chip-height: 2.4rem;
$chip-height-dense: 2rem;

.vs-chip {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vs-chip-backgroundColor, var(--vs-comp-bg));
    border: var(--vs-chip-border, 1px solid var(--vs-line-color));
    border-radius: var(--vs-chip-borderRadius, calc($chip-height / 2));
    color: var(--vs-chip-fontColor, var(--vs-comp-font));
    font-size: var(--vs-chip-fontSize, var(--vs-font-size));
    font-weight: var(--vs-chip-fontWeight, 400);
    min-height: var(--vs-chip-height, $chip-height);
    height: var(--vs-chip-height, $chip-height);
    width: var(--vs-chip-width, auto);
    padding: var(--vs-chip-padding, 0 0.6rem);
    user-select: none;
    cursor: var(--vs-chip-cursor, default);

    .vs-icon-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--vs-chip-fontColor, var(--vs-comp-font));
        border: var(--vs-chip-border, 1px solid var(--vs-line-color));
        height: calc(var(--vs-chip-height, $chip-height) * 0.75);
        width: calc(var(--vs-chip-height, $chip-height) * 0.75);
    }

    .vs-close-button {
        cursor: pointer;
    }

    &:has(.vs-chip-icon) {
        padding-left: 0.2rem;
    }
    &:has(.vs-close-button) {
        padding-right: 0.2rem;
    }

    .vs-chip-content {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        padding: 0 0.5rem;
        white-space: nowrap;
    }

    &.dense {
        border-radius: var(--vs-chip-borderRadius, calc($chip-height-dense / 2));
        min-height: var(--vs-chip-height, $chip-height-dense);
        height: var(--vs-chip-height, $chip-height-dense);
        padding: var(--vs-chip-padding, 0 0.3rem);
        font-size: var(--vs-chip-fontSize, var(--vs-font-size-sm));

        .vs-icon-container {
            height: calc(var(--vs-chip-height, $chip-height-dense) * 0.75);
            width: calc(var(--vs-chip-height, $chip-height-dense) * 0.75);
        }

        &:has(.vs-chip-icon) {
            padding-left: 0.2rem;
        }
        &:has(.vs-close-button) {
            padding-right: 0.2rem;
        }
    }

    &:hover {
        background-color: var(--vs-chip-hoverBackgroundColor, var(--vs-comp-bg-hover));
    }

    &.no-round {
        border-radius: 0.2rem;
        .vs-icon-container {
            border-radius: 0.2rem;
        }
    }

    &.primary {
        background-color: var(--vs-chip-backgroundColor, var(--vs-primary-comp-bg));
        color: var(--vs-chip-fontColor, var(--vs-primary-comp-font));
        border: var(--vs-chip-border, 1px solid var(--vs-primary-comp-bg));

        .vs-icon-container {
            color: var(--vs-chip-fontColor, var(--vs-primary-comp-font));
            border: var(--vs-chip-border, 1px solid var(--vs-primary-comp-font));
        }

        &:hover {
            background-color: var(--vs-chip-hoverBackgroundColor, var(--vs-primary-comp-bg-hover));
        }

        &:active {
            background-color: var(--vs-chip-activeBackgroundColor, var(--vs-primary-comp-bg-active));
        }
    }
}
