.vs-chip {
    button {
        all: unset;
    }

    align-items: center;
    background-color: var(--vs-chip-backgroundColor, var(--vs-comp-backgroundColor));
    border: var(--vs-chip-outlineBorder, 1px solid var(--vs-comp-color), 0);
    border-radius: var(--vs-chip-borderRadius, 1.3rem);
    color: var(--vs-chip-color, var(--vs-comp-color));
    display: inline-flex;
    font-size: var(--vs-chip-fontSize, 0.82rem);
    font-weight: var(--vs-button-fontWeight, 400);
    height: var(--vs-chip-height, 1.5rem);
    justify-content: center;
    min-height: var(--vs-chip-minHeight, 1.2rem);
    padding: 0 0.4rem;
    position: relative;

    &:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: all 0.4s ease-out;
        width: 120%;
    }

    .vs-chip-icon {
        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
    }

    .vs-chip-leading-icon {
        overflow: hidden;
    }

    .vs-chip-close {
        background-color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        height: calc(var(--vs-chip-height, 1.2rem) * 0.8);
        width: calc(var(--vs-chip-height, 1.2rem) * 0.8);
    }

    .vs-chip-content {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        padding: var(--vs-chip-padding, 0 0.2rem);
    }

    .vs-chip-icon + .vs-chip-content {
        margin-left: 0.05rem;
    }

    &.noRound {
        border-radius: 0.25rem;
        .chip-icon {
            border-radius: 0.25rem;
        }
    }

    &.clickable {
        cursor: pointer;

        &:active:after {
            opacity: 0.6;
            transition: 0s;
            width: 0%;
        }
    }

    &.primary {
        background-color: var(--vs-chip-backgroundColor, var(--vs-comp-backgroundColor-primary));
        color: var(--vs-chip-color, var(--vs-comp-color-primary));
    }
}

.vs-chip + .vs-chip {
    margin-left: 0.2rem;
}
