@use '@/styles/mixin' as *;

$file-drop-height: var(--vs-file-drop-height, var(--vs-input-comp-height));
$file-drop-height-dense: var(--vs-file-drop-height, var(--vs-input-comp-height-dense));

.vs-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--vs-file-drop-width, 100%);
    height: var(--vs-file-drop-height, 100%);

    .vs-label-box {
        margin-bottom: 0.5rem;
    }

    .vs-file-drop {
        position: relative;
        width: 100%;
        height: $file-drop-height;
        background-color: var(--vs-file-drop-backgroundColor, var(--vs-no-color));
        border: var(--vs-file-drop-border, 1px solid var(--vs-line-color));
        border-radius: var(--vs-file-drop-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
        padding: var(--vs-file-drop-padding, 1rem);
        font-size: var(--vs-file-drop-fontSize, var(--vs-font-size));
        color: var(--vs-file-drop-fontColor, var(--vs-font-color));
        box-sizing: border-box;

        &.vs-hover,
        &:focus {
            @include focus-outline;
            @include hover-active-lighten;
        }

        &.vs-disabled {
            @include disabled;
        }

        &.vs-readonly {
            @include readonly;
        }

        &.vs-dragging {
            background-color: var(--vs-file-drop-dragBackgroundColor, var(--vs-no-color));
            box-shadow: 0 0 0.5rem 0.5rem rgba(255,255,255,0.75) inset;
        }
        
        &.vs-dense {
            height: $file-drop-height-dense;
            font-size: var(--vs-file-drop-fontSize, var(--vs-font-size-sm));

            .vs-file-drop-placeholder {
                width: $file-drop-height-dense;
                height: $file-drop-height-dense;

                .vs-icon {
                    width: $file-drop-height-dense;
                    height: $file-drop-height-dense;
                }
            }
        }

        &.vs-state-box {
            @include state-box;
        }

        .vs-file-drop-ref {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .vs-file-drop-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            .vs-file-drop-files {
                display: flex;
                height: 100%;
                width: 100%;
                gap: 1rem;
            }

            .vs-file-drop-placeholder {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                .vs-icon {
                    color: var(--vs-file-drop-iconColor, var(--vs-line-color));
                }
            }
        }
    }

    .vs-messages {
        position: absolute;
        top: 100%;
        left: 0;
    }
}
