.vs-container {
    position: relative;
    // for container query
    container-type: inline-size;
    color: var(--vs-font-color);

    &.vs-grid {
        // for grid css
        display: grid;
        grid-template-columns: repeat(var(--vs-grid-size, 12), minmax(0, 1fr));
    }
}
