.vs-container {
    position: relative;
    width: 100%;
    // for container query
    container-type: inline-size;

    &.vs-grid {
        // for grid css
        display: grid;
        grid-template-columns: repeat(var(--vs-grid-size, 12), minmax(0, 1fr));
    }
}
