@use '@/styles/mixin' as *;

.vs-input {
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: var(--vs-input-backgroundColor, var(--vs-plain-backgroundColor));
    border: var(--vs-input-border, solid 1px var(--vs-comp-border-color));
    border-radius: var(--vs-input-borderRadius, 0.4rem);
    height: var(--vs-input-height, 3rem);

    .input {
        width: 100%;
        line-height: 3.2rem;
        padding: 0 1.2rem;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: transparent;
        color: var(--vs-input-fontColor, var(--vs-font-color));
    }

    .action-button {
        margin: 0;
        padding: 0 0.8rem;
        border: none;
        border-radius: 0;
        cursor: pointer;

        &.prepend {
            background-color: var(--vs-input-prependBackgroundColor, var(--vs-comp-backgroundColor));
            color: var(--vs-input-prependColor, var(--vs-comp-color));
        }

        &.append {
            background-color: var(--vs-input-appendBackgroundColor, var(--vs-comp-backgroundColor));
            color: var(--vs-input-appendColor, var(--vs-comp-color));
        }
    }

    .clear-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        right: 0.6rem;
        opacity: 0;
        transform: translate(0, -50%);
        transition: opacity 0.4s;
        color: var(--vs-input-clearButtonColor, var(--vs-comp-border-color));
        background: none;
        border: none;
        cursor: pointer;

        &.number {
            right: 2.2rem;
        }

        .clear-icon {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    .action-button.append + .clear-button {
        right: 3.4rem;
    }

    &.disabled {
        @include disabled;
    }

    &:hover {
        .clear-button {
            opacity: 1;
        }
    }

    &:focus-within {
        @include focus-shadow;
    }
}
