@use '@/styles/mixin' as *;

.vs-input {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--vs-input-backgroundColor, var(--vs-no-color));
    box-sizing: border-box;
    border: var(--vs-input-border, solid 1px var(--vs-line-color));
    border-radius: var(--vs-input-borderRadius, 0.4rem);
    height: var(--vs-input-height, 2.5rem);

    input {
        width: 100%;
        padding: 0 0.8rem;
        border: none;
        outline: none;
        font-size: var(--vs-input-fontSize, 1rem);
        background-color: transparent;
        color: var(--vs-input-fontColor, var(--vs-comp-font));
    }

    .prepend,
    .append {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 3rem;
        height: 100%;
        border: none;

        &:focus-visible {
            box-shadow: 0 0 0.6rem 0 var(--vs-line-color);
        }
    }

    .prepend {
        background-color: var(--vs-input-prependBackgroundColor, var(--vs-primary-comp-bg));
        color: var(--vs-input-prependColor, var(--vs-primary-comp-bg));
    }

    .append {
        background-color: var(--vs-input-appendBackgroundColor, var(--vs-primary-comp-bg));
        color: var(--vs-input-appendColor, var(--vs-primary-comp-bg));
    }

    .clear-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--vs-input-clearButtonColor, var(--vs-line-color));
        opacity: 0;
        transition: opacity 0.4s;
        background: none;
        border: none;
        margin-right: 0.6rem;
    }

    &:hover {
        .clear-button.show {
            opacity: 1;
        }
    }

    &.disabled {
        @include disabled;
    }

    &:focus-within {
        @include focus-shadow;
    }
}

.vs-input {
    &.dense {
        height: var(--vs-input-height, 2.2rem);

        input {
            font-size: var(--vs-input-fontSize, 0.9rem);
        }
    }
}

/* clears the ‘X’ */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}
