$activeColor: var(--vs-stepper-activeColor, var(--vs-comp-bg));
$activeBackgroundColor: var(--vs-stepper-activeBackgroundColor, var(--vs-comp-bg));
$fontSize: var(--vs-stepper-fontSize, 1rem);
$stepButtonW: var(--vs-stepper-stepSize, 1.6rem);

.vs-stepper {
    position: relative;
    -webkit-tap-highlight-color: transparent;

    .item-line {
        background-color: var(--vs-gray-300);
        height: 0.2rem;
        left: $stepButtonW;
        right: $stepButtonW;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .progress-line {
            background-color: $activeColor;
            height: 100%;
            opacity: 0.8;
            transition: width 0.2s;
        }
    }

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 4rem;

        li {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;

            .item-step {
                align-items: center;
                background-color: var(--vs-gray-300);
                border-radius: 50%;
                color: var(--vs-gray-50);
                display: flex;
                font-size: $fontSize;
                font-weight: 600;
                height: $stepButtonW;
                justify-content: center;
                width: $stepButtonW;

                &:after {
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
            }

            .item-name {
                color: var(--vs-stepper-labelFontColor, var(--vs-font-color));
                font-size: $fontSize;
                font-weight: 500;
                left: 50%;
                position: absolute;
                top: 140%;
                transform: translateX(-50%);
                white-space: nowrap;
            }

            &:focus {
                outline: none;
            }

            &.previous,
            &.selected {
                .item-step {
                    background-color: $activeBackgroundColor;
                    color: $activeColor;
                }

                .item-name {
                    color: var(--vs-stepper-labelFontColor, $activeColor);
                }
            }

            &.selected {
                .item-step {
                    border: solid 0.2rem $activeColor;
                }

                .item-name {
                    font-weight: 600;
                }
            }

            &.disabled {
                cursor: default;

                .item-step {
                    background-color: var(--vs-gray-100);
                    color: transparentize(#adadad, 0.6);
                }

                .item-name {
                    color: var(--vs-gray-200);
                    opacity: 0.6;
                }
            }
        }
    }
}
