@use '@/styles/mixin' as *;

$fontSize: var(--vs-stepper-fontSize, var(--vs-font-size));
$stepButtonW: var(--vs-stepper-stepSize, 2.4rem);

.vs-stepper {
    position: relative;
    -webkit-tap-highlight-color: transparent;

    .vs-step-line {
        background-color: var(--vs-area-bg-active);
        height: 0.3rem;
        left: $stepButtonW;
        right: $stepButtonW;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .vs-step-progress {
            background-color: var(--vs-stepper-activeColor, var(--vs-comp-font));
            height: 100%;
            opacity: 0.8;
            transition: width 0.2s;
        }
    }

    .vs-steps {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 4rem;

        &.vs-stepper-no-label {
            margin-bottom: 0;
        }

        .vs-step-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;

            .vs-step-num {
                align-items: center;
                background-color: var(--vs-comp-bg);
                color: var(--vs-comp-font);
                border: 1px solid var(--vs-line-color);
                border-radius: 50%;
                display: flex;
                font-size: var(--vs-font-size-sm);
                font-weight: 600;
                height: $stepButtonW;
                justify-content: center;
                width: $stepButtonW;

                &:after {
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
            }

            .vs-step-label {
                color: var(--vs-stepper-label-fontColor, var(--vs-font-color));
                font-size: var(--vs-stepper-label-fontSize, $fontSize);
                font-weight: var(--vs-stepper-label-fontWeight, 400);
                white-space: var(--vs-stepper-label-whiteSpace, nowrap);
                left: 50%;
                position: absolute;
                top: 140%;
                transform: translateX(-50%);
            }

            &:focus {
                outline: none;
            }

            &.vs-previous {
                .vs-step-num {
                    border: var(--vs-stepper-activeColor, var(--vs-primary-comp-bg));
                    background-color: var(--vs-stepper-activeBackgroundColor, var(--vs-primary-comp-bg));
                    color: var(--vs-primary-comp-font);
                }

                .vs-step-label {
                    color: var(
                        --vs-stepper-pastLabel-fontColor,
                        var(--vs-stepper-label-fontColor, var(--vs-comp-font))
                    );
                    font-size: var(--vs-stepper-pastLabel-fontSize, var(--vs-stepper-label-fontSize, $fontSize));
                    font-weight: var(--vs-stepper-pastLabel-fontWeight, var(--vs-stepper-label-fontWeight, 400));
                    white-space: var(--vs-stepper-pastLabel-whiteSpace, var(--vs-stepper-label-whiteSpace, nowrap));
                }
            }

            &.vs-selected {
                .vs-step-num {
                    border: 1px solid var(--vs-stepper-activeColor, var(--vs-primary-comp-bg));
                    background-color: var(--vs-stepper-activeBackgroundColor, var(--vs-primary-comp-bg));
                    color: var(--vs-primary-comp-font);

                    outline: 3px solid var(--vs-primary-comp-bg);
                    outline-offset: 3px;
                    transition: outline;
                    transition-delay: 0.15s;
                }

                .vs-step-label {
                    color: var(
                        --vs-stepper-selectedLabel-fontColor,
                        var(--vs-stepper-label-fontColor, var(--vs-primary-comp-bg))
                    );
                    font-size: var(--vs-stepper-selectedLabel-fontSize, var(--vs-stepper-label-fontSize, $fontSize));
                    font-weight: var(--vs-stepper-selectedLabel-fontWeight, var(--vs-stepper-label-fontWeight, 600));
                    white-space: var(--vs-stepper-selectedLabel-whiteSpace, var(--vs-stepper-label-whiteSpace, nowrap));
                }
            }

            &.vs-disabled {
                @include disabled;
            }
        }
    }
}
