@use '@/styles/mixin' as *;

$fontSize: var(--vs-stepper-fontSize, var(--vs-font-size));
$stepButtonW: var(--vs-stepper-stepSize, 2.4rem);

.vs-stepper {
    position: relative;
    -webkit-tap-highlight-color: transparent;

    .vs-item-line {
        background-color: var(--vs-area-bg-active);
        height: 0.3rem;
        left: $stepButtonW;
        right: $stepButtonW;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .vs-progress-line {
            background-color: var(--vs-stepper-activeColor, var(--vs-primary-comp-bg-active));
            height: 100%;
            opacity: 0.8;
            transition: width 0.2s;
        }
    }

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 4rem;

        li {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;

            .vs-item-step {
                align-items: center;
                background-color: var(--vs-comp-bg);
                color: var(--vs-comp-font);
                border: 1px solid var(--vs-line-color);
                border-radius: 50%;
                display: flex;
                font-size: $fontSize;
                font-weight: 600;
                height: $stepButtonW;
                justify-content: center;
                width: $stepButtonW;

                &:after {
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
            }

            .vs-item-name {
                color: var(--vs-stepper-labelFontColor, var(--vs-font-color));
                font-size: $fontSize;
                font-weight: 400;
                left: 50%;
                position: absolute;
                top: 140%;
                transform: translateX(-50%);
                white-space: nowrap;
            }

            &:focus {
                outline: none;
            }

            &.previous {
                .vs-item-step {
                    border: var(--vs-stepper-activeColor, var(--vs-primary-comp-bg));
                    background-color: var(--vs-stepper-activeBackgroundColor, var(--vs-primary-comp-bg));
                    color: var(--vs-primary-comp-font);
                }

                .vs-item-name {
                    color: var(--vs-stepper-labelFontColor, var(--vs-primary-comp-bg-active));
                }
            }

            &.selected {
                .vs-item-step {
                    border: 1px solid var(--vs-stepper-activeColor, var(--vs-primary-comp-bg));
                    background-color: var(--vs-stepper-activeBackgroundColor, var(--vs-primary-comp-bg));
                    color: var(--vs-primary-comp-font);

                    outline: 3px solid var(--vs-primary-comp-bg);
                    outline-offset: 3px;
                }

                .vs-item-name {
                    font-weight: 600;
                    color: var(--vs-stepper-labelFontColor, var(--vs-primary-comp-bg));
                }
            }

            &.disabled {
                @include disabled;
            }
        }
    }
}
