@use '@/styles/variables' as *;
@use '@/styles/mixin' as *;

.vs-modal-node {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--vs-modal-zIndex, var(--vs-modal-z-index));
    pointer-events: none;

    &.vs-has-container {
        position: absolute;
    }

    &.vs-dimmed {
        pointer-events: auto;
    }

    .vs-modal-dimmed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: var(--vs-dimmed-background-color);
    }

    .vs-modal-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: var(--vs-modal-width-xs);
        min-height: var(--vs-modal-height-xs);
        width: 100%;
        height: 100%;
        max-width: var(--vs-modal-width);
        max-height: var(--vs-modal-height);
        background-color: var(--vs-modal-backgroundColor, var(--vs-area-bg));
        box-shadow: var(--vs-modal-boxShadow, var(--vs-area-shadow-outer));
        border-radius: var(--vs-modal-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
        pointer-events: auto;
        container-type: inline-size;

        // size
        @each $size in $sizes {
            &.#{$size} {
                width: var(--vs-modal-width-#{$size});
                height: var(--vs-modal-height-#{$size});
            }
        }

        .vs-modal-contents {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: var(--vs-modal-padding, 2rem);
            color: var(--vs-modal-fontColor, var(--vs-font-color));
            font-size: var(--vs-modal-fontSize, var(--vs-font-size));
            font-weight: var(--vs-modal-fontWeight, 400);

            .vs-modal-header {
                position: relative;
                padding-bottom: 1.6rem;
            }

            .vs-modal-footer {
                position: relative;
                padding-top: 1.6rem;
            }

            .vs-modal-body {
                position: relative;
                flex: auto;
                overflow: auto;

                &.hide-scroll {
                    @include hide-scroll;
                }
            }
        }
    }
}

.modal-enter-active .vs-modal-dimmed,
.modal-leave-active .vs-modal-dimmed,
.modal-enter-active .vs-modal-wrap,
.modal-leave-active .vs-modal-wrap {
    transition: all 0.2s;
}

.modal-enter-from .vs-modal-dimmed,
.modal-leave-to .vs-modal-dimmed {
    opacity: 0;
}

.modal-enter-from .vs-modal-wrap,
.modal-leave-to .vs-modal-wrap {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
}

@container (min-width: 640px) {
    .vs-modal .vs-modal-wrap .vs-modal-contents {
        padding: var(--vs-modal-padding, 2.8rem);
    }
}

@container (min-width: 768px) {
    .vs-modal .vs-modal-wrap .vs-modal-contents {
        padding: var(--vs-modal-padding, 3.6rem);
    }
}

@container (min-width: 1024px) {
    .vs-modal .vs-modal-wrap .vs-modal-contents {
        padding: var(--vs-modal-padding, 4.8rem);
    }
}

@container (min-width: 1280px) {
    .vs-modal .vs-modal-wrap .vs-modal-contents {
        padding: var(--vs-modal-padding, 6rem);
    }
}
