.vs-label-value {
    width: 100%;
    height: 100%;
    background-color: var(--vs-label-value-backgroundColor, var(--vs-no-color));
    border: 1px solid var(--vs-line-color);
    display: flex;
    justify-content: between;
    font-size: var(--vs-label-value-fontSize, 1rem);

    > .cell {
        display: flex;
        align-items: center;
        padding: var(--vs-label-value-padding, 1.2rem 1.6rem);
    }

    .label {
        flex-basis: var(--vs-label-value-labelWidth, 15%);
        padding: var(--vs-label-value-labelPadding, 1.2rem 1.4rem);
        font-weight: var(--vs-label-value-labelFontWeight, 500);
        background-color: var(--vs-label-value-labelBackgroundColor, var(--vs-comp-bg));
        color: var(--vs-label-value-labelFontColor, var(--vs-comp-font));
        border-right: 1px solid var(--vs-line-color);
        word-break: break-word;
    }

    .value {
        flex: 1;
        overflow-x: auto;
        color: var(--vs-font-color);
    }

    .actions {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}

.vs-label-value {
    &.primary {
        border: 1px solid var(--vs-primary-comp-bg);

        .label {
            background-color: var(--vs-label-value-backgroundColor, var(--vs-primary-comp-bg));
            color: var(--vs-label-value-labelFontColor, var(--vs-primary-comp-font));
            border-right: 1px solid var(--vs-primary-comp-bg);
        }
    }
}

@media screen and (max-width: 768px) {
    .vs-label-value {
        flex-direction: column;
        width: 100%;

        > .cell {
            flex: 0;
            justify-content: flex-start;
            padding: 0.8rem 1.2rem;
        }

        .label {
            line-height: 1.4;
            flex: 0;
        }

        .actions {
            justify-content: flex-end;
        }
    }
}
