.vs-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.8rem 2.4rem;
    overflow: hidden;
    background-color: var(--vs-notice-backgroundColor, var(--vs-comp-backgroundColor));
    color: var(--vs-notice-color, var(--vs-comp-color));
    font-size: var(--vs-notice-fontSize, 1.2rem);
    font-weight: var(--vs-notice-fontWeight, 500);

    .vs-notice-contents {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .sub-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--vs-notice-subTitleFontSize, 1.2rem);
        font-weight: var(--vs-notice-subTitleFontWeight, 600);
    }

    .vs-notice-close {
        display: flex;
        cursor: pointer;
    }

    // primary
    &.primary {
        background-color: var(--vs-notice-backgroundColor, var(--vs-comp-backgroundColor-primary));
        color: var(--vs-notice-color, var(--vs-comp-color-primary));
    }
}
