.vs-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.8rem 2.4rem;
    overflow: hidden;
    background-color: var(--vs-notice-backgroundColor, var(--vs-comp-backgroundColor));

    .vs-notice-contents {
        display: flex;
        align-items: center;
        color: var(--vs-notice-contentFontColor, var(--vs-comp-color));
        font-size: var(--vs-notice-contentFontSize, 1.2rem);
        font-weight: var(--vs-notice-contentFontWeight, 500);

        .title {
            color: var(--vs-notice-titleFontColor, var(--vs-comp-color));
            font-size: var(--vs-notice-titleFontSize, 1.2rem);
            font-weight: var(--vs-notice-titleFontWeight, 600);
        }
    }

    .close-button {
        display: flex;
        cursor: pointer;
        color: var(--vs-notice-contentFontColor, var(--vs-comp-color));
    }

    // primary
    &.primary {
        background-color: var(--vs-notice-backgroundColor, var(--vs-comp-backgroundColor-primary));

        .vs-notice-contents {
            color: var(--vs-notice-contentFontColor, var(--vs-comp-color-primary));

            .title {
                color: var(--vs-notice-titleFontColor, var(--vs-comp-color-primary));
            }
        }

        .close-button {
            color: var(--vs-notice-contentFontColor, var(--vs-comp-color-primary));
        }
    }
}
