@use '@/styles/mixin' as *;

.vs-pagination {
    position: relative;
    display: flex;
    justify-content: center;

    .vs-page-buttons {
        display: flex;
        overflow-x: auto;
    }

    .vs-page-button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--vs-pagination-buttons-width, 3rem);
        height: var(--vs-pagination-buttons-height, 3rem);
        line-height: var(--vs-pagination-buttons-height, 3rem);
        margin: var(--vs-pagination-gap, 0.2rem);
        border-radius: var(--vs-pagination-buttons-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius)));
        background-color: var(--vs-pagination-buttons-backgroundColor, var(--vs-comp-bg));
        color: var(--vs-pagination-buttons-fontColor, var(--vs-comp-font));
        border: var(--vs-pagination-buttons-border, 1px solid var(--vs-line-color));
        font-size: var(--vs-pagination-buttons-fontSize, var(--vs-font-size-sm));
        font-weight: var(--vs-pagination-buttons-fontWeight, 400);
        user-select: none;

        &[disabled] {
            opacity: 0.2;
            pointer-events: none;
        }

        @include hover-active-darken;

        &.vs-selected {
            background-color: var(--vs-pagination-selectedButton-backgroundColor, var(--vs-primary-comp-bg));
            color: var(--vs-pagination-selectedButton-color, var(--vs-primary-comp-font));
            border: var(
                --vs-pagination-selectedButton-border,
                var(--vs-pagination-buttons-border),
                1px solid var(--vs-primary-comp-bg)
            );
            font-size: var(
                --vs-pagination-selectedButton-fontSize,
                var(--vs-pagination-fontSize, var(--vs-font-size-sm))
            );
            font-weight: var(--vs-pagination-selectedButton-fontWeight, var(--vs-pagination-fontWeight, 600));
        }
    }

    &.vs-disabled {
        .page-button {
            opacity: 0.2;
            pointer-events: none;
        }
    }
}

.vs-dark {
    .vs-pagination .vs-page-button {
        @include hover-active-lighten;
    }
}
