.vs-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
    }

    .page-button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--vs-pagination-buttonWidth, 2rem);
        height: var(--vs-pagination-buttonHeight, 2rem);
        line-height: var(--vs-pagination-buttonHeight, 2rem);
        margin: var(--vs-pagination-gap, 0.2rem);
        border-radius: var(--vs-pagination-borderRadius, 0.4rem);
        background-color: var(--vs-pagination-backgroundColor, var(--vs-comp-bg));
        color: var(--vs-pagination-fontColor, var(--vs-font-color));
        border: 1px solid var(--vs-line-color);
        font-size: var(--vs-pagination-fontSize, 0.8rem);
        font-weight: var(--vs-pagination-fontWeight, 400);
        user-select: none;

        &[disabled] {
            opacity: 0.2;
            pointer-events: none;
        }
        &:hover {
            color: var(--vs-pagination-hoverColor, var(--vs-pagination-fontColor, var(--vs-font-color)));
            background-color: var(
                --vs-pagination-hoverBackgroundColor,
                var(--vs-pagination-backgroundColor, var(--vs-comp-bg-hover))
            );
            font-size: var(--vs-pagination-hoverFontSize, var(--vs-pagination-fontSize, 0.8rem));
            font-weight: var(--vs-pagination-hoverFontWeight, var(--vs-pagination-fontWeight, 400));
        }
        &:active {
            background-color: var(--vs-comp-bg-active);
        }
        &.selected {
            background-color: var(--vs-pagination-selectedBackgroundColor, var(--vs-comp-bg-primary));
            color: var(--vs-pagination-selectedColor, var(--vs-font-color-primary));
            border: 1px solid var(--vs-line-color-primary);
            font-size: var(--vs-pagination-selectedFontSize, 0.9rem);
            font-weight: var(--vs-pagination-selectedFontWeight, 600);
        }
    }

    &.disabled {
        .page-button {
            opacity: 0.2;
            pointer-events: none;
        }
    }
}
