@use '@/styles/mixin' as *;

.vs-input-wrapper {
    .vs-label {
        display: flex;
        align-items: center;
        min-height: 1.5rem;
        color: var(--vs-comp-font);
        font-size: 0.9rem;

        &.disabled {
            @include disabled;
        }
    }

    .required-star {
        position: relative;
        top: 0.2rem;
        color: var(--vs-red-600);
        margin-left: 0.15rem;

        &.disabled {
            @include disabled;
        }
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        min-width: 0;
    }

    .vs-messages {
        display: flex;
        align-items: center;
        min-height: 1.2rem;
        margin-bottom: 0.2rem;

        .message-item + .message-item {
            margin-left: 1rem;
        }
    }
}
