@use '@/styles/mixin' as *;

.vs-input-wrapper {
    .vs-label {
        display: flex;
        align-items: center;
        min-height: 1.5rem;
        color: var(--vs-font-color);
        font-size: var(--vs-font-size);
        margin-bottom: 0.1rem;

        &.vs-disabled {
            @include disabled;
        }
    }

    .vs-required-star {
        position: relative;
        top: 0.2rem;
        color: var(--vs-red);
        margin-left: 0.3rem;

        &.vs-disabled {
            @include disabled;
        }
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        min-width: 0;
    }

    .vs-messages {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 2rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;

        .vs-message-item {
            margin-right: 1.2rem;
        }
    }

    &.vs-dense {
        .vs-label {
            font-size: var(--vs-font-size-sm);
        }

        .vs-messages {
            min-height: 1.8rem;
        }
    }
}
