.vs-checkbox-set {
    display: flex;
    align-items: center;
    flex-wrap: var(--vs-checkbox-set-flexWrap, wrap);

    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }

    .vs-checkbox-item:not(:last-child) {
        margin-right: var(--vs-checkbox-set-checkboxGap, 2rem);
    }
}
