progress {
    -webkit-appearance: none;
    appearance: none;
    width: var(--vs-progress-width, 100%);
    height: var(--vs-progress-height, 0.7rem);
}

progress[value] {
    &::-webkit-progress-bar {
        overflow: hidden;
        background-color: var(--vs-progress-barColor, var(--vs-comp-bg));
        border: 1px solid var(--vs-progress-borderColor, var(--vs-line-color));
        border-radius: var(--vs-progress-borderRadius, 0.4rem);
    }

    &::-webkit-progress-value {
        position: relative;
        background-color: var(--vs-progress-valueColor, var(--vs-comp-bg-primary));
    }
}
