.vs-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--vs-header-backgroundColor, var(--vs-comp-bg));
    box-shadow: var(--vs-header-boxShadow, none);
    color: var(--vs-header-fontColor, var(--vs-comp-font));
    height: var(--vs-header-height, auto);
    padding: var(--vs-header-padding, 0.4rem 1rem);
    width: var(--vs-header-width, 100%);

    &.vs-primary {
        background-color: var(--vs-header-backgroundColor, var(--vs-primary-comp-bg));
        color: var(--vs-header-fontColor, var(--vs-primary-comp-font));
    }

    &.vs-fixed {
        position: fixed;
        z-index: var(--vs-header-zIndex, var(--vs-app-bar-z-index));
    }
}
