.vs-toast-view {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: all 0.5s ease;
    pointer-events: none;
    width: 100%;
}

.vs-toast-view-top {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.vs-toast-view-bottom {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.vs-toast-item {
    pointer-events: auto;
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.1rem;
    box-shadow: 0 0.4rem 0.3rem 0 rgba(#000, 0.3);
    background-image: var(--vs-gradient-color); // TODO: 논의 필요

    .close-button {
        padding: 0.2rem 0.8rem 0 0.8rem;
        align-self: flex-end;
    }

    .toast-content {
        padding: 0rem 4rem 1.4rem 4rem;
    }
}

.fade-enter-active {
    animation: fade-in-top 0.5s both;
}
.fade-leave-active {
    animation: fade-out-top 0.5s;
}
