.vs-toast {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vs-toast-backgroundColor, var(--vs-comp-bg));
    color: var(--vs-toast-fontColor, var(--vs-comp-font));
    border: var(--vs-toast-border, 1px solid var(--vs-line-color));
    border-radius: var(--vs-toast-borderRadius, calc(var(--vs-radius-ratio) * var(--vs-radius-lg)));
    font-size: var(--vs-toast-fontSize, var(--vs-font-size));
    font-weight: var(--vs-toast-fontWeight, 400);
    margin: 0.4rem 0;
    pointer-events: auto;
    width: fit-content;

    .vs-toast-content {
        position: relative;
        padding: var(--vs-toast-padding, 1rem 5rem);
    }

    .vs-toast-close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0.5rem;
        height: 20px;
        width: 20px;
        color: var(--vs-toast-fontColor, var(--vs-comp-font));
    }

    &.vs-primary {
        background-color: var(--vs-toast-backgroundColor, var(--vs-primary-comp-bg));
        color: var(--vs-toast-fontColor, var(--vs-primary-comp-font));
        border: var(--vs-toast-border, 1px solid var(--vs-primary-comp-bg));

        .vs-toast-close {
            color: var(--vs-toast-fontColor, var(--vs-primary-comp-font));
        }
    }
}
