@use '@/styles/mixin' as *;

$radio-color: var(--vs-radio-radioColor, var(--vs-primary-comp-bg));
$radio-size: var(--vs-radio-radioSize, 1.8rem);
$radio-selected-label-color: var(--vs-radio-selectedLabelFontColor, var(--vs-primary-comp-bg));
$radio-selected-inset-box-shadow: inset 0 0 0 calc($radio-size / 3) $radio-color;

.vs-radio-node {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--vs-radio-height, var(--vs-input-comp-height));

    .vs-radio-wrap {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;

        .vs-radio-input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + .vs-radio-label {
                color: $radio-selected-label-color;

                &:before {
                    box-shadow: $radio-selected-inset-box-shadow;
                }
            }

            &:focus-visible + .vs-radio-label {
                &:before {
                    @include focus-outline;
                    outline-offset: 3px;
                }
            }
        }

        .vs-radio-label {
            display: flex;
            align-items: center;
            color: var(--vs-radio-labelFontColor, var(--vs-font-color));
            font-size: var(--vs-radio-labelFontSize, var(--vs-font-size));
            padding: 0.2rem 0;
            white-space: nowrap;
            outline: none;

            &:before {
                content: '';
                background-color: transparent;
                width: $radio-size;
                height: $radio-size;
                min-width: $radio-size;
                min-height: $radio-size;
                max-width: $radio-size;
                max-height: $radio-size;
                border-radius: var(--vs-radio-borderRadius, 50%);
                margin-right: 0.5rem;
                transition: box-shadow 0.25s ease;
                box-shadow: inset 0 0 0 0.12rem $radio-color;
            }
        }
    }

    &.vs-dense {
        height: var(--vs-rado-height, var(--vs-input-comp-height-dense));

        .vs-radio-label {
            font-size: var(--vs-rado-labelFontSize, var(--vs-font-size-sm));
        }
    }

    &.vs-state-box {
        .vs-radio-label:before {
            @include state-box;
        }
    }

    &.vs-disabled {
        @include disabled;
    }

    &.vs-readonly {
        @include readonly;
    }
}
